{% extends "bases/base_content.html" %}
{% load static i18n extra %}
{% block TopHeader %}{% include "headers/details.html" %}{% endblock TopHeader%}

{% block MainContent %}
{% with superinvestor.all_information as all_information %}
<div class="col-12">
    <div class="tab-content" id="pills-tabContent">
        <!-- portfolio tab -->
        <div class="tab-pane fade show active" id="pills-portfolio" role="tabpanel" aria-labelledby="pills-portfolio-tab">
            {% include "tables/portfolio.html" %}
        </div>
        <!-- history tab -->
        <div class="tab-pane fade show" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
            {% include "tables/history.html" %}
        </div>
        <!-- activity tab -->
        <div class="tab-pane fade show" id="pills-activity" role="tabpanel" aria-labelledby="pills-activity-tab">
            {% include "tables/pre_activity.html" %}
        </div>
    </div>
</div>
{% endwith %}
{% endblock MainContent %}