{% extends "bases/base_content.html" %}
{% load static i18n extra %}
{% block header %}{% include "headers/inicio.html" %}{% endblock header%}

{% block OnTopContent %}
{% endblock OnTopContent%}

{% block FirstCta %}
<div class="col-12">
    {% block FirstCtaContent %}
    {% endblock FirstCtaContent %}
</div>
{% endblock FirstCta %}

{% block FirstContent %}
{% endblock FirstContent%}


{% block LeftSide %}
{% for superinvestor in superinvestors %}
{% with superinvestor.portfolio_information as portfolio_info %}
<div class="card card-profile">
    <img src="https://res.cloudinary.com/inversionesfinanzas/image/upload/v1654963515/1280px-White_Background__28To_id_screen_dust_during_cleanup_29_gh4icb.jpg" height='90px' alt="Image placeholder" class="card-img-top">
    <div class="row justify-content-center">
        <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
                <a href="{{superinvestor.get_absolute_url}}{% utm 'superinvestors' superinvestor.name %}">
                  <img src="{{superinvestor.image}}" class="rounded-circle" alt="{{superinvestor.name}}">
                </a>
            </div>
        </div>
    </div>
    <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
        <div class="d-flex justify-content-between">
            <button type="button" class="btn btn-sm btn-success mr-4" 
                onclick="AddToFav('{{superinvestor.slug}}', '{{superinvestor.id}}')" type="submit" id="button-favs-{{superinvestor.id}}">
                <i class="fa fa-star" aria-hidden="true"></i>
                Favoritos
            </button>
            <a href="{{superinvestor.get_absolute_url}}{% utm 'superinvestors' superinvestor.name %}" class="btn btn-sm btn-default float-right">Visitar</a>
        </div>
    </div>
    <div class="card-body pt-0">
        <div class="row">
            <div class="col">
                <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                        <span class="heading">{{portfolio_info.total_number_of_holdings}}</span>
                        <span class="description">Empresas</span>
                    </div>
                    <div>
                        <span class="heading">{{portfolio_info.num_sectors}}</span>
                        <span class="description">Sectores</span>
                    </div>
                    <div>
                        <span class="heading">{{portfolio_info.portfolio_value|floatformat}}</span>
                        <span class="description">Valor Total</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <h5 class="h3">
                {{superinvestor.name}}
            </h5>
            <div class="h5 font-weight-300">
                <i class="ni location_pin mr-2"></i>Última actualización: {{superinvestor.last_update|date:"d.m.y"}}
            </div>
            <div class="h5 mt-4">
                <div class="avatar-group">
                    {% for holding in portfolio_info.top_holdings %}
                    {% if holding.actual_company_info.ticker %}
                    <a href="{% url 'screener:company' holding.actual_company_info.ticker %}{% utm 'superinvestors' holding.actual_company_info.ticker %}"
                    {% else %}
                    <a href="#!"
                    {% endif %}
                        class="avatar rounded-circle" data-toggle="tooltip" data-placement="top" title="{{holding.actual_company_info.ticker}}">
                        <img alt="{{holding.actual_company_info.ticker}}" src="{{holding.actual_company_info.image}}">
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endfor %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
       {% if page_obj.has_previous %}
       <li class="page-item">
          <a class="page-link" href="?page=1">1</a>
       </li>
      <li class="page-item">
        <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      {% if page_obj.number != 1 %}
      <li class="page-item">
       <a href="?page={{ page_obj.number|add:-1 }}" class="page-link">{{ page_obj.number|add:-1 }}</a>
     </li>
     {% endif %}
       <li class="page-item active" aria-current="page">
          <span class="page-link">{{ page_obj.number }}</span>
       </li>
       <li class="page-item">
          <a href="?page={{ page_obj.number|add:1 }}" class="page-link">{{ page_obj.number|add:1 }}</a>
        </li>
      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      <li class="page-item">
         <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último</a>
       </li>
      {% endif %}
    </ul>
  </nav>
<script>
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    
    function AddToFav(investor, id){
  
      event.preventDefault(); // <---- Add this line
      $.ajax({
        url: '{% url "general:update_favorites" %}',
        type: "POST",
        dataType: "json",
        data: JSON.stringify({investor: investor}),
        headers: {
        "X-Requested-With": "XMLHttpRequest",
        'X-CSRFToken': csrftoken,
        
      },
      success: (response) => {
          let buttonStock = document.getElementById("button-favs-"+id)
          if (response.is_favorite === true){
            buttonStock.className ='btn btn-sm btn-success mr-4'}
          else {
            buttonStock.className ='btn btn-sm btn-outline-success mr-4'}
            }
      });
    };
</script>
{% endblock LeftSide %}

{% block RightSide %}
{% endblock RightSide %}


{% block MiddleCta %}
<div class="col-12">
    {% block MiddleCtaContent %}
    {% endblock MiddleCtaContent %}
</div>
{% endblock MiddleCta%}

{% block ListContinuation %}
{% endblock ListContinuation %}

{% block LastCta %}
{% endblock LastCta %}