{% extends "bases/base_errors.html" %}

{% block mensaje %}

<body>
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>Gracias por tu confianza</h1>
			</div>
			<h2>Estamos procesando tu compra</h2>
			<p>
                El sistema está procesando tu compra y serás redirigido hacia tu producto automáticamente.
                En caso de no ser así puedes hacer click en el enlace de debajo para ir directamente a tu perfil.
            </p>
			<a href="{% url 'users:user_inicio' %}">Regresar al perfil</a>
		</div>
	</div>
</body>


{% endblock mensaje %}