{% extends "bases/base_content.html" %}
{% load static i18n extra %}
{% block header %}{% include "header/term_details.html" %}{% endblock header%}

{% block FirstCta %}
{% endblock FirstCta %}

{% block LeftSide %}
<style>
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
</style>
{% for parts in object.term_parts %} 
<section>
<h2 id="{{ parts.title|slugify }}">{{parts.title}} <span style="font-size: 15px;">[<a href="{% url 'escritos:correction_term' parts.id%}">Editar</a>]</span></h2>

<div class="text-black">{{parts.content|safe}}</div>
</section>
<br>
{% endfor %}
{% endblock LeftSide %}

{% block RightSide %}
{% include "side/term_details.html" %}
{% endblock RightSide %}

{% block MiddleCtaContent %}
<!-- {% include "cta/term_details_middle.html" %} -->
{% endblock MiddleCtaContent %}

{% block ListContinuation %}

{% endblock ListContinuation %}
