{% extends "bases/base_content.html" %}
{% load static i18n extra %}
{% block header %}{% include "header/term_inicio.html" %}{% endblock header%}
{% block FirstCtaContent %}
{% include "cta/term_inicio.html" %}
{% endblock FirstCtaContent %}

{% block LeftSide %}
{% for term in terms %}
<div class="card-translucent bg-transparent">
    <div class="card-body p-3">
        <div class="row">
            <div class="col-lg-9">
                <div class="d-flex flex-column h-100">
                    <a href="{{term.get_absolute_url}}{% utm 'glosario' term.title %}">
                        <p class="h1 mb-1 pt-2 text-bold">
                            {{term.title}}
                        </p>
                    </a>
                   
                    <h5 class="font-weight-bolder">
                        <div class="d-flex">
                            {% for tag in term.tags.all %}
                            <a href="#" class="badge badge-info text-center mr-2">
                                <span class="font-weight-bolder">{{tag.name}}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </h5>
                    <p class="mb-5"><a href="{{term.get_absolute_url}}{% utm 'glosario' term.title %}">
                        {{term.resume}}
                    </a></p>
                    <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{{term.get_absolute_url}}{% utm 'glosario' term.title %}">
                    Leer más
                    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 ms-auto text-center mt-5 mt-lg-0">
                <div class="bg-gradient-yellow border-radius-lg h-100 ">
                    <img src="{{term.image}}" class="h-100 w-100 rounded top-0 d-lg-block d-none" alt="waves">                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
     {% if page_obj.has_previous %}
     <li class="page-item">
        <a class="page-link" href="?page=1">1</a>
     </li>
    <li class="page-item">
      <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% if page_obj.number != 1 %}
    <li class="page-item">
     <a href="?page={{ page_obj.number|add:-1 }}" class="page-link">{{ page_obj.number|add:-1 }}</a>
   </li>
   {% endif %}
     <li class="page-item active" aria-current="page">
        <span class="page-link">{{ page_obj.number }}</span>
     </li>
     <li class="page-item">
        <a href="?page={{ page_obj.number|add:1 }}" class="page-link">{{ page_obj.number|add:1 }}</a>
      </li>
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    <li class="page-item">
       <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último</a>
     </li>
    {% endif %}
  </ul>
</nav>
{% endblock LeftSide %}

{% block RightSide %}
{% include "side/term_inicio.html" %}
{% endblock RightSide%}

