{% extends "bases/base_content.html" %}
{% load static i18n extra %}
{% block header %}{% include "explorar/header/inicio.html" %}{% endblock header%}
{% block FirstCtaContent %}
{% include "explorar/cta/first.html" %}
{% endblock FirstCtaContent %}
{% block FirstContent %}
{% include "explorar/complements/first_content.html" %}
{% endblock FirstContent%}
{% block LeftSide %}

{% endblock LeftSide %}
{% block RightSide %}
{% include "explorar/side/inicio.html" %}
{% endblock RightSide %}
{% block MiddleCtaContent %}
{% include "explorar/cta/middle.html" %}
{% endblock MiddleCtaContent %}
{% block ListContinuation %}

{% endblock ListContinuation %}
