{% load crispy_forms_tags static %}
<form method="POST" hx-post="{% url 'screener:create_company_observation' %}"
hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}' class="modal-content">
<div class="modal-header">
<h5 class="modal-title">Añade tu comentario</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
{% csrf_token %}

<div class="row">
    <div class="col-12">
        {{ form.observation|as_crispy_field }}
    </div>
    <div class="col-12">
        {{ form.observation_type|as_crispy_field }}
    </div>
    <input name="company_ticker" value="{{company_ticker}}" hidden>
    {% if request.user.is_anonymous %}
    <div class="col-12">
        <label for="exampleFormControlInput1" class="form-label">Email</label>
        <input type="email" name='email' class="form-control" id="exampleFormControlInput1">
    </div>
    {% endif %}
</div>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-primary">Comentar</button>
</div>
</form>
