{% load static %}
{% load crispy_forms_tags %}

  {{ profile_form.media }}
  <div class="row">
    <div class="col">

      <div class="row">
        <div class="col">
          <div class="form-group">                                
            {{ form.first_name|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group">                                
            {{ form.last_name|as_crispy_field }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group mt-4">                                
            {{ form.username|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group mt-4">                                
            {{ profile_form.edad|as_crispy_field }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group mt-4">
            {{ profile_form.pais|as_crispy_field }}
          </div>
        </div>
        <div class="col">
          <div class="form-group mt-4">                                
            {{ profile_form.ciudad|as_crispy_field }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col mb-3">
          <div class="form-group mt-4">
            {{profile_form.bio |as_crispy_field | safe }}
            <label>
              Una breve descripción para presentarte ante el mundo.
          </label>
          </div>
        </div>
      </div>
      

    </div>
  </div>
  
  <div class="col-12"><button type="submit" class="btn btn-primary col-12">Guardar</button></div>
