{% extends "general/bases/base_content.html" %}
{% load static %}
{% block meta %}{% include "general/meta/content_meta.html" %}{% endblock meta%}
{% block header %}{% include "public_blog/header/details.html" %}{% endblock header%}

{% block FirstCtaContent %}
{% include "public_blog/cta/details_first.html" %}
{% endblock FirstCtaContent %}

{% block ListContent %}
<div class="d-flex flex-column h-100">
    <p class="h1 mb-1 pt-2 text-bold">
        {{object.title}}
    </p>
    <div class="mt-2">
        <img class="avatar" src="{{object.author.foto}}">
        <a href="{{object.author.custom_url}}">
            {{object.author}}
        </a>
        
    </div>
    <h5 class="font-weight-bolder">
        Visitado {{object.total_views}} veces desde el {{object.created_at}}
    </h5>
    
    <div class="d-flex">
        {% for tag in object.tags.all %}
        <a href="#" class="badge badge-info text-center mr-2">
            <span class="font-weight-bolder">{{tag.name}}</span>
        </a>
        {% endfor %}
    </div>
    
    <div class="mb-2 mt-2 text-dark text-justify font-weight-bolder">
        {{object.content|safe}}
    </div>
</div>
{% endblock ListContent %}

{% block MiddleCtaContent %}
{% include "public_blog/cta/details_first.html" %}
{% endblock MiddleCtaContent %}

{% block ListContinuation %}
{% endblock ListContinuation %}

{% block LastCta %}
{% endblock LastCta %}