{% extends "bases/base_content.html" %}
{% load static i18n extra %}
{% block header %}{% include "header/blog_details.html" %}{% endblock header%}

{% block FirstCtaContent %}
{% include "cta/blog_details_first.html" %}
{% endblock FirstCtaContent %}

{% block ListContent %}
<style>
    html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
</style>
<div class="col-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-1">
                    <div style="flex:0.1;display: flex; justify-content: center;" class="pt-2">
                        <div>
                            <form method="POST" action="{% url 'general:create_vote_view' object.encoded_url_up %}">
                                {% csrf_token %}
                                <button class="btn btn-sm"><i class="fas fa-caret-up" style="font-size: 50px;"></i></button>
                            </form>
                                    <div style="width: 100%;text-align: center;" >{{object.total_votes}}</div>
                            <form method="POST" action="{% url 'general:create_vote_view' object.encoded_url_down %}">
                                {% csrf_token %}
                                <button class="btn btn-sm"><i class="fas fa-caret-down" style="font-size: 50px;"></i></button>
                            </form>
                            
                        </div>
                    </div>
                </div>
                <div class="col-11">
                    <h1 class="mb-1 pt-2 text-bold">
                        {{object.title}}
                    </h1>
                    <h5 class="font-weight-bolder mb-4">
                        Visitado {{object.total_views}} veces desde el {{object.created_at}}
                    </h5>
                    <div>
                        {% for tag in object.tags.all %}
                        <a href="#" class="badge badge-info text-center mr-2">
                            <span class="font-weight-bolder">{{tag.name}}</span>
                        </a>
                        {% endfor %}                
                        <div class=" text-right">
                            <img class="avatar" src="{{object.author.foto}}">
                            <a href="{{object.author.custom_url}}">
                                {{object.author}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <div class="card-body">
            <div class="mb-2 mt-2 text-dark text-justify font-weight-bolder">
                {{object.content|safe}}
            </div>
        </div>
        <div class="accordion mt-1" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button style="padding: 10px;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <i style=" font-size: 16px;" class="far fa-comment me-1"> </i> Comentarios
                    <!-- for comments in comments -->
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="row">
                    <div class="panel panel-default widget">
                        <div class="panel-body">
                            <ul class="list-group">
                                {% if user.is_authenticated%}
                                <li style="text-align: center;" class="list-group-item">
                                    <form method="POST" action="{% url 'general:create_comment_view' object.encoded_url_comment %}">
                                        {% csrf_token %}
                                        <div class="input-group mb-3">
                                            <input type="text" name="comment_content" class="form-control" placeholder="Deja un comentario al autor" aria-label="Deja un comentario al autor" aria-describedby="button-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-twitter" type="submit" id="button-addon2">Publicar</button>
                                            </div>
                                        </div>
                                    </form>
                                </li>
                                {% else %}
                                <li style="text-align: center;" class="list-group-item">
                                    <div class="input-group mb-3">
                                        <input type="text" name="question_content" class="form-control" placeholder="Deja un comentario al autor" aria-label="Deja un comentario al autor" aria-describedby="button-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-twitter" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" id="button-addon2">Publicar</button>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% for question_comment in object.related_comments %}
                                <li class="list-group-item" style="font-size: 11px;">
                                    <div>                                                            
                                        <div class="mic-info">
                                            Por: <a href="#">{{question_comment.author.username}}</a> {{question_comment.created_at}}
                                        </div>
                                    </div>
                                    <div class="comment-text">
                                        {{question_comment.content}}
                                    </div>
                                </li>
                                {% endfor%}                                      
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock ListContent %}

{% block MiddleCtaContent %}
{% include "cta/blog_details_first.html" %}
{% endblock MiddleCtaContent %}

{% block ListContinuation %}
{% endblock ListContinuation %}

{% block LastCta %}
{% endblock LastCta %}