{% extends "bases/base_content.html" %}
{% load static extra humanize i18n %}
{% block header %}{% include "header/blog_inicio.html" %}{% endblock header%}

{% block FirstCtaContent %}
{% include "cta/blog_inicio.html" %}
{% endblock FirstCtaContent %}

{% block FirstContent %}
{% include "complements/blog_first_content.html" %}
{% endblock FirstContent%}

{% block ListContent %}
{% for blog in blogs %}
<div class="card-translucent bg-transparent">
    <div class="card-body p-3">
        <div class="row">
            <div class="col-lg-9">
                <div class="d-flex flex-column h-100">
                    <a href="{{blog.custom_url}}{% utm 'blog' blog.title %}">
                        <p class="h1 mb-1 pt-2 text-bold">
                            {{blog.title}}
                        </p>
                    </a>
                    <h5 class="font-weight-bolder">
                        <div class="d-flex">
                            {% for tag in blog.tags.all %}
                            <a href="#" class="badge badge-info text-center mr-2">
                                <span class="font-weight-bolder">{{tag.name}}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </h5>
                    <p class="mb-5">
                        <a href="{{blog.custom_url}}{% utm 'blog' blog.title %}">
                        {{blog.resume}}
                        </a>
                    </p>
                    <div class="row">
                        <div class="clearfix">
                            <div class="float-start">
                                <img class="avatar" src="{{blog.author.foto}}">
                                <a href="{{blog.author.custom_url}}{% utm 'blog' blog.title %}">
                                    {{blog.author}}
                                </a>
                            </div>
                            <div class="float-end">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 ms-auto text-center mt-5 mt-lg-0">
                <div class="bg-gradient-yellow border-radius-lg h-100 ">
                    <img src="{{blog.image}}" class="h-100 w-100 rounded top-0 d-lg-block d-none" alt="waves">                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock ListContent %}

{% block MiddleCtaContent %}
{% include "cta/blog_inicio_middle.html" %}
{% endblock MiddleCtaContent %}
