{% load static i18n extra %}
<div class="card text-center">
    <div class="card-header">
        {{recsys_title}}
    </div>
    
    <div class="card-body">
        <div class="row">
            <div hx-trigger="load" hx-get="{% url recsys_path %}" hx-target="this">
                <div class="col-12">                
                    <a class="btn btn-secondary" target="_blank" href="{% url 'screener:screener_inicio' %}{% utm 'glosario' 'side-recoms' %}">No te pierdas las empresas</a>
                </div>
                <div class="col-12 mt-4">
                    <a class="btn btn-youtube" target="_blank" href="{% url 'preguntas_respuestas:list_questions' %}{% utm 'glosario' 'side-recoms' %}">Ayuda a la comunidad</a>
                </div>
                <div class="col-12 mt-4">
                    <a class="btn btn-slack" target="_blank" href="{% url 'public_blog:blog_list' %}{% utm 'glosario' 'side-recoms' %}">Descubre los escritores</a>
                </div>
            </div>
        </div>
    </div>
</div>