{% extends "general/sidebar/sidebar.html" %}
{% block FavoritesStocks %}
<li class="nav-item">
  <a href="#" class="nav-link">
    <span class="sidenav-mini-icon"> D </span>
    <span class="sidenav-normal">
        <a href="#" class="btn btn-primary">Únete y guarda tus favoritos</a>
    </span>
  </a>
</li>
{% endblock FavoritesStocks %}
{% block FavoritesWritters %}
<li class="nav-item">
  <a href="#" class="nav-link">
    <span class="sidenav-mini-icon"> D </span>
    <span class="sidenav-normal">
        <a href="#" class="btn btn-primary">Únete y guarda tus favoritos</a>
    </span>
  </a>
</li>
{% endblock FavoritesWritters %}
{% block FavoritesTerms %}
<li class="nav-item">
  <a href="#" class="nav-link">
    <span class="sidenav-mini-icon"> D </span>
    <span class="sidenav-normal">
        <a href="#" class="btn btn-primary">Únete y guarda tus favoritos</a>
    </span>
  </a>
</li>
{% endblock FavoritesTerms %}

