{% extends "general/sidebar/sidebar.html" %}
{% block FavoritesStocks %}
<li class="nav-item">
  <a href="{% url 'screener:screener_inicio' %}" class="nav-link">
    <span class="sidenav-mini-icon"> E </span>
    <span class="sidenav-normal btn btn-primary btn-sm">
       Añade una empresa
    </span>
  </a>
</li>
{% endblock FavoritesStocks %}
{% block FavoritesWritters %}
<li class="nav-item">
  <a href="{% url 'public_blog:blog_list' %}" class="nav-link">
    <span class="sidenav-mini-icon"> W </span>
    <span class="sidenav-normal btn btn-primary btn-sm">
        Añade un escritor
     </span>
  </a>
</li>
{% endblock FavoritesWritters %}
{% block FavoritesTerms %}
<li class="nav-item">
  <a href="{% url 'escritos:glosario' %}" class="nav-link">
    <span class="sidenav-mini-icon"> T </span>
    <span class="sidenav-normal btn btn-primary btn-sm">
      Añade un término
   </span>
  </a>
</li>
{% endblock FavoritesTerms %}

