{% extends "general/sidebar/sidebar.html" %}
{% block FavoritesStocks %}
{% include "general/sidebar/favorites/stocks.html" %}
{% endblock FavoritesStocks %}

{% block FavoritesSuperinvestors %}
{% include "general/sidebar/favorites/super_investors.html" %}
{% endblock FavoritesSuperinvestors %}

{% block FavoritesWritters %}
{% include "general/sidebar/favorites/writters.html" %}
{% endblock FavoritesWritters %}

{% block FavoritesTerms %}
{% include "general/sidebar/favorites/terms.html" %}
{% endblock FavoritesTerms %}