{% load static i18n extra %}
<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
    <div class="scrollbar-inner">
      <!-- Brand -->
      <div class="sidenav-header  d-flex align-items-center">
        
        <a class="navbar-brand text-right">
          <img src="{% static 'general/assets/img/general/finanzaseinversiones.WebP' %}" height="40" class="navbar-brand-img" alt="Logo">
        </a>

        <div class=" ml-auto ">
          <!-- Sidenav toggler -->
          <div class="sidenav-toggler d-none d-xl-block" data-action="sidenav-unpin" data-target="#sidenav-main">
            <div class="sidenav-toggler-inner">
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
              <i class="sidenav-toggler-line"></i>
            </div>
          </div>
        </div>
      </div>

      <div class="navbar-inner">
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
          <!-- Nav items -->
          <ul class="navbar-nav">
            <li class="nav-item">
              {% if request.user.is_anonymous %}
              <a class="nav-link active" href="{% url 'preguntas_respuestas:list_questions' %}{% utm 'webapp' 'sidebar' Inicio %}">
                {% else %}
              <a class="nav-link active" href="{% url 'users:user_inicio' %}{% utm 'webapp' 'sidebar' Inicio %}">
                {% endif %}
                <i class="fas fa-home text-primary"></i>
                <span class="nav-link-text">Inicio</span>
              </a>
            </li>
            <hr class="my-3">
            <h6 class="navbar-heading pl-4 text-muted">
              <span class="docs-normal">Exploradores</span>
            </h6>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'screener:all_yahoo_screeners' %}{% utm 'webapp' 'sidebar' 'Screeners' %}">
                <i class="fa-solid fa-square-poll-horizontal text-primary"></i>
                <span class="nav-link-text">Lista Screeners</span>
              </a>
            </li>
            
            <hr class="my-3">
            <h6 class="navbar-heading pl-4 text-muted">
              <span class="docs-normal">Favoritos</span>
            </h6>
            {% block favorites %}
            {% endblock favorites %}
            <hr class="my-3">
            <h6 class="navbar-heading pl-4 text-muted">
              <span class="docs-normal">Historial</span>
            </h6>
            <li class="nav-item">
              <a class="nav-link"
              href="{% url 'roboadvisor:user-robo-results' %}{% utm 'webapp' 'sidebar' 'Roboadvisor' %}">
                <i class="fas fa-robot text-primary"></i>
                <span class="nav-link-text">Roboadvisor</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:user_historial' 'Análisis' %}{% utm 'webapp' 'sidebar' 'análisis-historial' %}">
                <i class="fas fa-chart-bar text-primary"></i>
                <span class="nav-link-text">Análisis</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:user_historial' 'Aportes' %}{% utm 'webapp' 'sidebar' 'aportes-historial' %}">
                <i class="fas fa-edit text-primary"></i>
                <span class="nav-link-text">Aportes</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'users:user_historial' 'Comentarios' %}{% utm 'webapp' 'sidebar' 'comentarios-historial' %}">
                <i class="fas fa-pen text-primary"></i>
                <span class="nav-link-text">Comentarios</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>