{% load static i18n extra %}
<!-- Progress track -->
<div class="card">
    <!-- Card header -->
    <div class="card-header">
      <!-- Title -->
      <h5 class="h3 mb-0">Portfolio</h5>
    </div>
    <!-- Card body -->
    <div class="card-body">
      <!-- List group -->
      <ul class="list-group list-group-flush list my--3">
        <li class="list-group-item px-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <a href="#" class="avatar rounded-circle">
                <img alt="Image placeholder" src="../../assets/img/theme/bootstrap.jpg">
              </a>
            </div>
            <div class="col">
              <h5>Impact Design System</h5>
              <div class="progress progress-xs mb-0">
                <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <a href="#" class="avatar rounded-circle">
                <img alt="Image placeholder" src="../../assets/img/theme/angular.jpg">
              </a>
            </div>
            <div class="col">
              <h5>Angular Now UI Kit PRO</h5>
              <div class="progress progress-xs mb-0">
                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <a href="#" class="avatar rounded-circle">
                <img alt="Image placeholder" src="../../assets/img/theme/sketch.jpg">
              </a>
            </div>
            <div class="col">
              <h5>Pixel UI Kit</h5>
              <div class="progress progress-xs mb-0">
                <div class="progress-bar bg-red" role="progressbar" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100" style="width: 72%;"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <a href="#" class="avatar rounded-circle">
                <img alt="Image placeholder" src="../../assets/img/theme/react.jpg">
              </a>
            </div>
            <div class="col">
              <h5>React Material Dashboard</h5>
              <div class="progress progress-xs mb-0">
                <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
              </div>
            </div>
          </div>
        </li>
        <li class="list-group-item px-0">
          <div class="row align-items-center">
            <div class="col-auto">
              <!-- Avatar -->
              <a href="#" class="avatar rounded-circle">
                <img alt="Image placeholder" src="../../assets/img/theme/vue.jpg">
              </a>
            </div>
            <div class="col">
              <h5>Vue Paper UI Kit PRO</h5>
              <div class="progress progress-xs mb-0">
                <div class="progress-bar bg-green" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>