{% load static %}
<!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-gauge@0.3.0/dist/chartjs-gauge.min.js"></script>
{% include "screener/empresas/company_parts/valuations/price_valuations.html" %} -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Valor de empresa
            </div>
            <div class="card-body">
                <div class="table-responsive ">
                    <table class="table table-borderless">                        
                        <tbody>
                            <tr>
                                <th>Enterprise Value</th>
                                <td>{{company_valuation.ev|floatformat:2}}</td>
                                <th>CAGR</th> 
                                <td class="pe-4">{{company_valuation.cagr|floatformat:2}}%</td>                               
                            </tr>
                            <tr>
                                <th>Valoración tradicional</th>
                                <td>{{company_valuation.gramvalu|floatformat:2}}</td>
                                <th>Margen de seguridad</th>
                                <td>{{company_valuation.safety_margin_pes|floatformat:2}}%</td>                               
                            </tr>
                            <tr>
                                <th>Valoración DCF</th>
                                <td>{{company_valuation.fair_value|floatformat:2}}</td>
                                <th >Margen de seguridad</th>
                                <td class="pe-4">{{company_valuation.safety_margin_opt|floatformat:2}}%</td>                               
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Múltiplos de valoración
            </div>
            <div class="card-body">
                <div class="table-responsive ">
                    <table class="table table-borderless">                        
                        <tbody>
                            <tr>
                                <th>PER</th>
                                <td>{{company_valuation.per|floatformat:2}}</td>
                                <td>
                                    <div class="progress" id='revalorizacion' style="height: 20px;">
                                        {% if company_valuation.per_lvl == 1 %}
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                        {% elif company_valuation.per_lvl == 2 %}
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                        {% else %}
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>PB</th>
                                <td>{{company_valuation.pb|floatformat:2}}</td>
                                <td>
                                    <div class="progress" id='revalorizacion' style="height: 20px;">
                                        {% if company_valuation.pb_lvl == 1 %}
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                        {% elif company_valuation.pb_lvl == 2 %}
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                        {% else %}
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>PS</th>
                                <td>{{company_valuation.ps|floatformat:2}}</td>
                                <td>
                                    <div class="progress" id='revalorizacion' style="height: 20px;">
                                        {% if company_valuation.ps_lvl == 1 %}
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                        {% elif company_valuation.ps_lvl == 2 %}
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                        {% else %}
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>PFCF</th>
                                <td>{{company_valuation.pfcf|floatformat:2}}</td>
                                <td>
                                    <div class="progress" id='revalorizacion' style="height: 20px;">
                                        {% if company_valuation.pfcf_lvl == 1 %}
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                        {% elif company_valuation.pfcf_lvl == 2 %}
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                        {% else %}
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                              <th>PEG</th>
                              <td>{{company_valuation.peg|floatformat:2}}</td>
                              <td>
                                  <div class="progress" id='revalorizacion' style="height: 20px;">
                                      {% if company_valuation.peg_lvl == 1 %}
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                      {% elif company_valuation.peg_lvl == 2 %}
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                      {% else %}
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                      {% endif %}
                                  </div>
                              </td>
                          </tr>
                            <tr>
                                <th>Precio Activos Totales</th>
                                <td>{{company_valuation.pas|floatformat:2}}</td>
                                <td>
                                    <div class="progress" id='revalorizacion' style="height: 20px;">
                                        {% if company_valuation.pas_lvl == 1 %}
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                        {% elif company_valuation.pas_lvl == 2 %}
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                        {% else %}
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr> 
                            <tr>
                              <th>Precio Activos Tangibles</th>
                              <td>{{company_valuation.pta|floatformat:2}}</td>
                              <td>
                                  <div class="progress" id='revalorizacion' style="height: 20px;">
                                      {% if company_valuation.pta_lvl == 1 %}
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                      {% elif company_valuation.pta_lvl == 2 %}
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                      {% else %}
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                      {% endif %}
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <th>Precio Efectivo</th>
                              <td>{{company_valuation.pcps|floatformat:2}}</td>
                              <td>
                                  <div class="progress" id='revalorizacion' style="height: 20px;">
                                      {% if company_valuation.pcps_lvl == 1 %}
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                      {% elif company_valuation.pcps_lvl == 2 %}
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                      {% else %}
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                      {% endif %}
                                  </div>
                              </td>
                          </tr>
                          <tr>
                              <th>Precio Flujo efectivo operativo</th>
                              <td>{{company_valuation.pocf|floatformat:2}}</td>
                              <td>
                                  <div class="progress" id='revalorizacion' style="height: 20px;">
                                      {% if company_valuation.pocf_lvl == 1 %}
                                      <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                      {% elif company_valuation.pocf_lvl == 2 %}
                                      <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                      {% else %}
                                      <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                      {% endif %}
                                  </div>
                              </td>
                          </tr>
                                         
                            <tr>
                                <th>EV/EBITDA</th>
                                <td>{{company_valuation.evebitda|floatformat:2}}</td>
                                <td>
                                    <div class="progress" id='revalorizacion' style="height: 20px;">
                                        {% if company_valuation.evebitd_lvl == 1 %}
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                        {% elif company_valuation.evebitd_lvl == 2 %}
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                        {% else %}
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th>EV/SALES</th>
                                <td>{{company_valuation.evsales|floatformat:2}}</td>
                                <td>
                                    <div class="progress" id='revalorizacion' style="height: 20px;">
                                        {% if company_valuation.evsales_lvl == 1 %}
                                        <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Sobrevalorado</div>
                                        {% elif company_valuation.evsales_lvl == 2 %}
                                        <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Neutral</div>
                                        {% else %}
                                        <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"  aria-valuemin="0" aria-valuemax="100">Infravalorado</div>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>            
        </div>        
    </div>  
</div>