{% block extra %}
{% load static %}
{% load crispy_forms_tags %}
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock extra %}
<div class="col-12">
    <div class="card">
        <div class="row">
            {% for part in the_company.foda_analysis %}
            {% with part.status as status %}            
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-header">                            
                            {% if status == 'Fuerza' or status == 'Amenaza' %}
                            {{status}}s
                            {% else %}
                            {{status}}es
                            {% endif %}
                            </div>
                        {% for analysis in part.values %}
                        <div class="card-text">                            
                            <div class="d-flex flex-column h-100">                                
                                <div class="mb-2 mt-2 text-dark text-justify font-weight-bolder">
                                    {{analysis.observation|safe}}
                                </div>
                                <div class="mt-2 text-right">
                                    <img class="avatar-sm" src="{{question.user.user_profile.foto_perfil.url}}">
                                    {{analysis.user}} - {{analysis.user.user_profile.reputation_score}}
                                </div>
                            </div>                            
                        </div>
                        {% empty %}
                        <div class="card-text">
                            Sé el primero en añadir las 
                            {% if status == 'Fuerza' or status == 'Amenaza' %}
                            {{status|lower}}s 
                            {% else %}
                            {{status|lower}}es 
                            {% endif %}de la empresa
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
        <div class="accordion mt-1" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                <button style="padding: 10px;" class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Comenta sobre la empresa
                </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                    <div class="row">
                        <div class="panel panel-default widget">
                            <div class="panel-body">
                                <ul class="list-group">
                                    {% if user.is_authenticated%}
                                    <li style="text-align: center;" class="list-group-item">
                                        <form method="POST" action="{% url 'screener:create_company_observation' %}">
                                            {% csrf_token %}
                                            {{observation_form.media}}
                                            <div class="input-group mb-3">
                                                <div class="col-12">
                                                    <div class="col-9">
                                                        {{observation_form.observation}}
                                                    </div>
                                                    <div class="col-3">
                                                        {{observation_form.observation_type|as_crispy_field}}
                                                        <button class="btn btn-success" type="submit">Publicar</button>
                                                    </div>
                                                </div>                                                
                                            </div>
                                        </form>
                                    </li>
                                    {% else %}
                                    <li style="text-align: center;" class="list-group-item">
                                        <div class="input-group mb-3">
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-9 col-sm-12">
                                                        {{observation_form.observation}}
                                                    </div>
                                                    <div class="col-lg-3 col-sm-12">
                                                        {{observation_form.observation_type|as_crispy_field}}
                                                        <button class="btn btn-success col-12" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" id="button-addon2">Publicar</button>
                                                    </div>
                                                </div>
                                            </div>                                                
                                        </div>
                                    </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {% include "screener/empresas/company_parts/valuations/price_valuations.html" %} -->