{% extends "bases/main_base.html" %}

{% block content %}
<div class="row">
    {% block OnTopContent %}
    {% endblock OnTopContent%}

    {% block FirstCta %}
    <div class="col-12">
        {% block FirstCtaContent %}
        {% endblock FirstCtaContent %}
    </div>
    {% endblock FirstCta %}

    {% block FirstContent %}
    {% endblock FirstContent%}

    {% block ListContent %}
    <div class="col-lg-9 col-sm-12">
        {% block LeftSide %}
        {% endblock LeftSide %}
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="position-sticky" style="top: 6rem;">
            {% block RightSide %}
            {% endblock RightSide %}
        </div>
    </div>
    {% endblock ListContent%}

    {% block MiddleCta %}
    <div class="col-12">
        {% block MiddleCtaContent %}
        {% endblock MiddleCtaContent %}
    </div>
    {% endblock MiddleCta%}

    {% block ListContinuation %}
    {% endblock ListContinuation %}

    {% block LastCta %}
    {% endblock LastCta %}
</div>
{% endblock content %}