{% extends "bases/source.html" %}
{% load static i18n %}
{% block body %}
<!-- La sidebar se podría quitar para ciertas partes de la web. En tal caso habría que quitar también el icono cuando se ponga en movil -->
    {% block sidebar %}
    {% if request.user.is_authenticated %}
    {% include "sidebar/auth_sidebar.html" %}
    {% else %}
    {% include "sidebar/anonymous_sidebar.html" %}
    {% endif %}
    {% endblock sidebar%}
    <div class="main-content" id="panel">
        {% block navbar %}{% include "navbar/navbar.html" %}{% endblock navbar%}
        {% include "navbar/historial-sub-navbar.html" %}
        <div hx-trigger="showMessageSuccess from:body" hx-get="{% url 'general:nav_messages' %}">
            {% include "complements/messages.html" %}
        </div>
        {% block TopHeader %}
        <div class="header pb-6">
            <div class="container-fluid">
                <div class="header-body">
                {% block header %}{% endblock header%}
                </div>
            </div>
        </div>
        {% endblock TopHeader %}
        {% block MainContent %}
            <div class="container-fluid mt--6">
            {% block content %}{% endblock content %}
            </div>
        {% endblock MainContent %}
    </div>
{% endblock body%}