{% load extra %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-2">
                        <div style="text-align: center;">
                            <img class="img-fluid" src="{{the_company.image}}">
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="table-responsive ">
                            <table class="table table-borderless">
                                <thead>
                                <tr>                                    
                                    <th colspan="2" scope="row"><h4>{{the_company.name}} ({{the_company.ticker}})</h4></th>
                                    <th>Capitalización bursátil</th>
                                    <th id="marketcap">{{the_company_financials.marketcap}}</th>
                                    {% if the_company.exchange.main_org.id == 1 %}
                                    <th><a class="btn btn-secondary" href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&ticker={{the_company.ticker}}&type=10-k&dateb=&owner=exclude&count=40&search_text=" target="_blank">Ver 10-K</a></th>
                                    <th><a class="btn btn-secondary" href="https://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&ticker={{the_company.ticker}}&type=10-q&dateb=&owner=exclude&count=40&search_text=" target="_blank">Ver 10-Q</a></th>
                                    {%else%}
                                    <th><a class="btn btn-secondary" href="{{the_company.website}}" target="_blank">Web</a></th>
                                    {%endif%}
                                </tr>
                                </thead>                          
                                <tbody>
                                    <tr>
                                        <th>CIK</th>
                                        <td>{{the_company.cik}}</td>
                                        <th>ISIN</th>
                                        <td>{{the_company.isin}}</td>
                                        <th>CUSIP</th>
                                        <td>{{the_company.cusip}}</td>
                                    </tr>
                                    <tr>
                                        <th>Exchange</th>
                                        <td>{{the_company.exchange.exchanges_name}} ({{the_company.exchange}})</td>
                                        <th>OPA</th>                                       
                                        <td>{{the_company.ipoDate}}</td>
                                        <th>Cantidad de empleados</th>
                                        <td>{{the_company.employees}}</td>
                                    </tr>
                                    <tr>
                                        <th>CEO</th>
                                        <td>{{the_company.ceo}}</td>
                                        <th>Indústria</th>
                                        <td>{{the_company.industry}}</td>
                                        <th>Sector</th>
                                        <td>{{the_company.sector}}</td>
                                    </tr>                                    
                                    <tr>
                                        <th>País</th>
                                        <td>{{the_company.country}}</td>
                                        <th>Estado</th>
                                        <td>{{the_company.state}} - {{the_company.zip_code}}</td>
                                        <th>Dirección</th>
                                        <td>{{the_company.city}}, {{the_company.address}}</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <p style="text-align: justify;">{{the_company.description}}</p>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="ms-2">Noticias </h4>
            </div>
            <div class="card-body" hx-trigger="load" 
                hx-get="{% url 'screener:return_company_news' the_company.ticker %}" hx-target="this">
                <div class="text-center">
                    <div class="spinner-border" role="status"></div>
                    Cargando...
                </div>
            </div>
        </div>
    </div>    
</div>

