{% extends "general/bases/main_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra %}
<link rel="stylesheet" href="{% static 'general/assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}" type="text/css">
<script src="{% static 'general/assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock extra %}
{% block header %} <div class="mb-2"></div> {% endblock header%}
{% block content %}

<script type="text/javascript">
  function showanswerbox(selfans){
    console.log(selfans.checked)
    var showanswerboxnow = document.getElementById("wans");
    showanswerboxnow.style.display = selfans.checked ? "block" : "none";
  };

</script>

<div class="row">
  <div class="col-lg-4 col-md-12">
    {% include "preguntas_respuestas/side/form_side.html" %}
  </div>
  <div class="col-lg-8 col-md-12">
    <div class="card">
      <form method="POST" action="{% url 'preguntas_respuestas:create_question' %}">
        {% csrf_token %}
      {{ form.media }}
      {% for field in form %}
        {% if field.errors %}
        <div class="alert alert-danger" role="alert">
          {{ field.errors|striptags }}
        </div>
        {% endif %}
      {% endfor %}
      <div class="card-body">
        
        <h2 class="card-title">Título</h2>
        <p class="card-text">Sé lo más específico posible. Imagina que estás haciendo la pregunta a alguien en concreto.</p>
        {{form.title|as_crispy_field}}
        <hr class="invis">
        <h2 class="card-title">Contenido</h2>
        <p class="card-text">Incluye toda la información que la comunidad pueda necesitar para poder responderte de la forma más exacta.</p>
        
        {{form.content}}
        <hr class="invis">
        <h2 class="card-title">Categorías</h3>
        <p class="card-text">Separa por comas las categorías en las que entra tu pregunta.</p>
        <span id='errorTags' style="color: red;"></span>
        <br>
        
        <input name="tags" type="text" class="form-control" value="Invertir" data-toggle="tags" required/>

        <hr class="invis">

        <input type="checkbox" id="selfanswer" name="selfanswer" onclick="showanswerbox(this)" value="">
        <label for="selfanswer"> <strong> Responde a tu propia pregunta</strong> – Comparte tu conocimiento</label><br>

        <div id="wans" style="display: none">
          <h5 class="card-title">Tu Respuesta</h5>
          <textarea name="selfanswereditor"></textarea>
          <script>
          CKEDITOR.replace( 'selfanswereditor', {
        toolbar: [
        { name: 'clipboard', items: [ 'Undo', 'Redo' ] },
        { name: 'styles', items: [ 'Styles', 'Format' ] },
        { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Strike', '-', 'RemoveFormat' ] },
        { name: 'paragraph', items: [ 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'Blockquote' ] },
        { name: 'links', items: [ 'Link', 'Unlink' ] },
        { name: 'insert', items: [ 'Image', 'EmbedSemantic', 'Table' ] },
        { name: 'tools', items: [ 'Maximize' ] },
        { name: 'editing', items: [ 'Scayt' ] }
    ],

    extraPlugins: 'autoembed,embedsemantic,image2,uploadimage',

    removePlugins: 'image',

    bodyClass: 'article-editor',

    format_tags: 'p;h1;h2;h3;pre',

    removeDialogTabs: 'image:advanced;link:advanced',

    stylesSet: [
        /* Inline Styles */
        { name: 'Marker',			element: 'span', attributes: { 'class': 'marker' } },
        { name: 'Cited Work',		element: 'cite' },
        { name: 'Inline Quotation',	element: 'q' },

        /* Object Styles */
        {
            name: 'Special Container',
            element: 'div',
            styles: {
                padding: '5px 10px',
                background: '#eee',
                border: '1px solid #ccc'
            }
        },
        {
            name: 'Compact table',
            element: 'table',
            attributes: {
                cellpadding: '5',
                cellspacing: '0',
                border: '1',
                bordercolor: '#ccc'
            },
            styles: {
                'border-collapse': 'collapse'
            }
        },
        { name: 'Borderless Table',		element: 'table',	styles: { 'border-style': 'hidden', 'background-color': '#E6E6FA' } },
        { name: 'Square Bulleted List',	element: 'ul',		styles: { 'list-style-type': 'square' } },

        /* Widget Styles */
        // We use this one to style the brownie picture.
        { name: 'Illustration', type: 'widget', widget: 'image', attributes: { 'class': 'image-illustration' } },
        // Media embed
        { name: '240p', type: 'widget', widget: 'embedSemantic', attributes: { 'class': 'embed-240p' } },
        { name: '360p', type: 'widget', widget: 'embedSemantic', attributes: { 'class': 'embed-360p' } },
        { name: '480p', type: 'widget', widget: 'embedSemantic', attributes: { 'class': 'embed-480p' } },
        { name: '720p', type: 'widget', widget: 'embedSemantic', attributes: { 'class': 'embed-720p' } },
        { name: '1080p', type: 'widget', widget: 'embedSemantic', attributes: { 'class': 'embed-1080p' } }
    ]
    });
          </script>
          <hr class="invis">
        </div>
        <div><button class="btn btn-slack col-12 mt-4" type="submit">Publicar pregunta</button></div>
      </form>
      </div>
    </div>
  </div>    
</div>
{% endblock content %}