{% for blog in current_profile.blogs_written %}
<div class="row">
    <div class="col-12">
        <div class="d-flex flex-column h-100">
            <a href="{{blog.get_absolute_url}}">
                <p class="h1 mb-1 pt-2 text-bold">
                    {{blog.title}}
                </p>
            </a>
            
            <div class="d-flex">
                {% for tag in blog.tags.all %}
                <a href="#" class="badge badge-info text-center mr-2">
                    <span class="font-weight-bolder">{{tag.name}}</span>
                </a>
                {% endfor %}
            </div>
            
            <div class="mb-2 mt-2">
                <a href="{{blog.get_absolute_url}}">
                    {{blog.content|safe|truncatechars:200}}
                </a>
            </div>
            <!-- <a class="text-body text-sm font-weight-bold mb-0 icon-move-right" href="javascript:;">
            Read More
            <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
            </a> -->
        </div>
    </div>
</div>
{% endfor %}