<div class="card">
    <div class="card-body">
      <h5 class="card-title">¿Cómo redactar tu pregunta?</h5>
      <p>La comunidad está para ayudarte a resolver tus dudas referentes a inversiones,
      finanzas, activos digitales, economía... </p>
      <hr class="invis">


      <div class="accordion" id="accordionExample">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Describe tu problema o duda
              </button>
            </h2>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="card-body">
              <ul>
                <li>Recuerda escribir de forma clara y sin faltas ortográficas.</li>

                <li> Describe los resultados que esperas y los que has obtenido.</li>
                
                <li>Explica qué has intentado hasta ahora.</li>
               </ul>   
             </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Describe qué has intentado
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="card-body">
              Comparte con la comunidad lo que hayas intentado, tus notas, tus fuentes de información y en lo que te hayas basado para intentar resolver tu problema.
              Como más detalles compartas con la comunidad mejor podran ayudarte.                  
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Muestra tus intentos
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="card-body">
              Si tu problema es práctico (Ej:Algún tipo de cálculo), comparte tu borrador, el enunciado y tu razonamiento para que la comunidad pueda indicarte como resolverlo de la mejor manera.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>