{% load static i18n extra %}
<div class="card">
    <div class="card-header">
        Valor de empresa
    </div>
    <div class="card-body">
        <div class="table-responsive ">
            <table class="table table-borderless">                        
                <tbody>
                    <tr>
                        <th>Enterprise Value</th>
                        <td>{{company_valuation.ev|floatformat:2}}</td>
                        <th>CAGR</th> 
                        <td class="pe-4">{{company_valuation.cagr|floatformat:2}}%</td>                               
                    </tr>
                    <tr>
                        <th>Valoración tradicional</th>
                        <td>{{company_valuation.gramvalu|floatformat:2}}</td>
                        <th>Margen de seguridad</th>
                        <td>{{company_valuation.safety_margin_pes|floatformat:2}}%</td>                               
                    </tr>
                    <tr>
                        <th>Valoración DCF</th>
                        <td>{{company_valuation.fair_value|floatformat:2}}</td>
                        <th >Margen de seguridad</th>
                        <td class="pe-4">{{company_valuation.safety_margin_opt|floatformat:2}}%</td>                               
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>