{% load static extra %}
<table class="display table table-striped table-bordered text-center" style="width:100%">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Sector</th>
            <th>Indústria</th>
            <th>País</th>
            <th></th>
        </tr>
    </thead>
    <tbody >
        {% for company in similar_companies %}
        <tr>
    <td>
        <div class="media align-items-center">
            <a href="{{company.get_absolute_url}}{% utm "screener-relations" previous_ticker %}" target="_blank" class="avatar rounded-circle mr-3">
                <img alt="{{company.ticker}}" src="{{company.image}}">
            </a>
            <div class="media-body">
                <a href="{{company.get_absolute_url}}{% utm "screener-relations" previous_ticker %}" target="_blank" class="name mb-0 text-sm">
                    {{company.full_name}}
                </a>
            </div>
        </div>
    </td>
    <td>{{company.sector}}</td>
    <td>{{company.industry}}</td>
    <td>{{company.country}}</td>
    <td>
        <a class="btn btn-sm btn-success" href="{{company.get_absolute_url}}{% utm "screener-relations" previous_ticker %}" target="_blank">
            Ver más
        </a>
    </td>
        </tr>
        {% endfor %}                           
    </tbody>
</table>