{% load static i18n extra %}
<div class="p-4 p-md-5 mb-4 text-white card bg-gradient-indigo">
    <div class="row">
        <div class="col-md-9 px-0">
            <h1 class="display-4 text-white fst-italic">Todo lo que necesitas saber y más</h1>
            <p class="lead my-3">Si sigues teniendo dudas con algún término puedes preguntarle a la comunidad y te ayudarán.</p>
            <p class="lead mb-0"><a href="{% url 'preguntas_respuestas:create_question' %}" class="text-white fw-bold">Adelante</a></p>
        </div>
    </div>
</div>