{% extends "bases/base_content.html" %}
{% load static i18n extra %}
{% block header %}{% include "header/private.html" %}{% endblock header%}
{% with request.user as user %}
{% block FirstCta %}
{% include "complements/private-cta.html" %}
{% endblock FirstCta %}

{% block FirstContent %}
<h2>Tus empresas favoritas</h2>
{% for empresa in user.fav_stocks %}
<div class="col-lg-6 col-sm-12 mb-4">
    <div class="card">
        <!-- Card body -->
        <div class="card-body">
           <div class="row align-items-center">
              <div class="col-auto">
                 <!-- Avatar -->
                 <a href="{% url 'screener:company' empresa.ticker %}" class="avatar avatar-xl rounded">
                 <img alt="{{empresa.ticker}}" src="{{empresa.image}}">
                 </a>
              </div>
              <div class="col ml--2">
                 <h4 class="mb-0">
                    <a href="{% url 'screener:company' empresa.ticker %}" >{{empresa.name}}</a>
                 </h4>
                 <p class="text-sm text-muted mb-0">{{empresa.description|truncatewords:"25"}}</p>
              </div>
              <div class="col-auto">
                 <!-- <button type="button" class="btn btn-sm btn-success mb-1">Añadir favoritos</button>
                 <br> -->
                 <!-- <button type="button" class="btn btn-sm btn-primary mb-1">Añadir cartera</button>
                 <br> -->
                 <a href="{% url 'screener:company' empresa.ticker %}" type="button" class="btn btn-sm btn-primary">Visitar</a>
                 
              </div>
           </div>
        </div>
     </div>
</div>
{% empty %}
<h3>Todavía no has añadido ninguna empresa a tus favoritos <a class="btn btn-primary btn-sm col-2" href="{% url 'screener:screener_inicio' %}" >¿A qué esperas?</a></h3>

{% endfor %}
{% endblock FirstContent%}

{% block ListContent %}
<div class="col-lg-9 col-sm-12">
    {% block LeftSide %}
    {% for blog in user.fav_writters.blogs_written %}
    <div class="card-translucent bg-transparent">
        <div class="card-body p-3">
            <div class="row">
                <div class="col-lg-9">
                    <div class="d-flex flex-column h-100">
                        <a href="{{blog.get_absolute_url}}">
                            <p class="h1 mb-1 pt-2 text-bold">
                                {{blog.title}}
                            </p>
                        </a>
                        <h5 class="font-weight-bolder">
                            <div class="d-flex">
                                {% for tag in blog.tags.all %}
                                <a href="#" class="badge badge-info text-center mr-2">
                                    <span class="font-weight-bolder">{{tag.name}}</span>
                                </a>
                                {% endfor %}
                            </div>
                        </h5>
                        <p class="mb-5"><a href="{{blog.get_absolute_url}}">
                            {{blog.resume}}
                        </a></p>
                        <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{{blog.get_absolute_url}}">
                        Leer más
                        <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 ms-auto text-center mt-5 mt-lg-0">
                    <div class="bg-gradient-yellow border-radius-lg h-100 ">
                        <img src="{{blog.image}}" class="h-100 w-100 rounded top-0 d-lg-block d-none" alt="waves">                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endblock LeftSide %}
</div>
<div class="col-lg-3 col-sm-12">
    <div class="position-sticky" style="top: 6rem;">
        {% block RightSide %}
        {% endblock RightSide %}
    </div>
</div>
{% endblock ListContent%}

{% block MiddleCta %}
<div class="col-12 mb-4 mt-4">
    {% block MiddleCtaContent %}
    {% endblock MiddleCtaContent %}
</div>
{% endblock MiddleCta%}

{% block ListContinuation %}
<h2>Tus términos preferidos</h2>
{% for term in user.fav_terms %}
<div class="card-translucent bg-transparent">
    <div class="card-body p-3">
        <div class="row">
            <div class="col-lg-9">
                <div class="d-flex flex-column h-100">
                    <a href="{{term.get_absolute_url}}">
                        <p class="h1 mb-1 pt-2 text-bold">
                            {{term.title}}
                        </p>
                    </a>
                    <h5 class="font-weight-bolder">
                        <div class="d-flex">
                            {% for tag in term.tags.all %}
                            <a href="#" class="badge badge-info text-center mr-2">
                                <span class="font-weight-bolder">{{tag.name}}</span>
                            </a>
                            {% endfor %}
                        </div>
                    </h5>
                    <p class="mb-5"><a href="{{term.get_absolute_url}}">
                        {{term.resume}}
                    </a></p>
                    <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="{{term.get_absolute_url}}">
                    Leer más
                    <i class="fas fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 ms-auto text-center mt-5 mt-lg-0">
                <div class="bg-gradient-yellow border-radius-lg h-100 ">
                    <img src="{{term.image}}" class="h-100 w-100 rounded top-0 d-lg-block d-none" alt="waves">                    
                </div>
            </div>
        </div>
    </div>
</div>
{% empty %}
<h3>Todavía no has añadido término a tus favoritos
    <a class="btn btn-primary btn-sm col-2" href="{% url 'escritos:glosario' %}" >Busca algunos que te interesen</a>
</h3>
{% endfor %}
{% endblock ListContinuation %}

{% block LastCta %}
{% endblock LastCta %}
{% endwith %}
{% block modal %}
{{block.super}}
{% with object=request.user %}
{% with content="private-profile" %}
{% include "modals/share_content.html" %}
{% endwith %}
{% endwith %}
{% endblock %}