{% load static i18n extra humanize%}
<div id="search-company-form">
  <input style="height:50px;font-size:14pt;" type="text" class="form-step-{{step.order}} form-control" 
    name="stock" id="stock" aria-describedby="button-stock" 
    placeholder="Escribe el nombre o el ticker de la empresa" required>
</div>

<script>
    $(function() {
      $("#stock").autocomplete({
        source: "{% url 'empresas:searcher_companies' %}",
        minLength: 1,
        appendTo: "#search-company-form"
      });
    });
  </script>