{% extends "private/cartera_base.html" %}
{% load static i18n extra %}
{% block header %}
{% with patrimonio.patrimoine as money %}
{% include "header/private/cartera_main.html" %}
{% endwith %}
{% endblock header%}

{% block content %}
{% with patrimonio.patrimoine as money %}
<style>
    .chart-canvas{height: 450px !important;}
</style>
<div class="row">
    {% block FirstCta %}
    <div class="col-12">
        {% block FirstCtaContent %}
        {% endblock FirstCtaContent %}
    </div>
    {% endblock FirstCta %}

    {% block FirstContent %}
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="h3 mb-0">Cantidades</h5>
             </div>
          <div class="card-body">
            <div class="chart-canvas">
                <canvas id="bar-incomes"></canvas>
            </div>            
          </div>                                                
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h5 class="h3 mb-0">Repartición</h5>
             </div>
            <div class="card-body">
                  <div class="chart-canvas">
                      <canvas id="pie-incomes"></canvas>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <!-- Title -->
                <h5 class="h3 mb-0">Cashflow</h5>
             </div>
            <div class="table-responsive ">
                <table class="table table-borderless">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Canditad</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in money.incomes_and_spends %}
                        <tr>
                            <td>{{data.name}}</td>
                            <td>{{data.amount|floatformat:2}} {{data.currency}}</td>
                            <td>{{data.date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>                                     
        </div>
    </div>
    {% endblock FirstContent%}

    {% block ListContent %}
    <div class="col-lg-9 col-sm-12">
        {% block LeftSide %}
        {% endblock LeftSide %}
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="position-sticky" style="top: 6rem;">
            {% block RightSide %}
            {% endblock RightSide %}
        </div>
    </div>
    {% endblock ListContent%}

    {% block MiddleCta %}
    <div class="col-12">
        {% block MiddleCtaContent %}
        {% endblock MiddleCtaContent %}
    </div>
    {% endblock MiddleCta%}

    {% block ListContinuation %}
    {% endblock ListContinuation %}

    {% block LastCta %}
    {% endblock LastCta %}
</div>

<script>
    var userData = [
                {{money.income_earned}}, 
                {{money.income_spend}}, 
                {{money.income_saved}}, 
                {{money.income_invested}}
            ]
    var maxEl =(Math.max.apply(null, userData) + 1500)
    var minEl =(Math.min.apply(null, userData) - 1500)

    new Chart(document.querySelector('#bar-incomes'), {
        type: 'bar',
        data: {
            labels: [
                'Ingresos', 
                'Gastos', 
                'Ahorros', 
                'Inversiones'
            ],
            datasets: [{
            
            data: [
                {{money.income_earned}}, 
                {{money.income_spend}}, 
                {{money.income_saved}}, 
                {{money.income_invested}}
            ],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 205, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
            }]
        },
        options: {
    responsive: true,
    maintainAspectRatio: false,
    plugins: {
      tooltip: {
        mode: 'index',
        intersect: false
      },
      title: {
        display: false,
        text: 'Chart.js Line Chart'
      }
    },
    hover: {
      mode: 'index',
      intersec: false
    },
    scales: {
      x: {
        title: {
          display: false,
          text: 'Types'
        }
      },
      y: {
        title: {
          display: false,
          text: 'Value'
        },
        min: minEl,
        max: maxEl,
        ticks: {
          stepSize: 500,
          beginAtZero: true,
        }
      }
    }
  },

    });
    new Chart(document.querySelector('#pie-incomes'), {
        type: 'pie',
        data: {
            labels: [
                'Gastos', 
                'Ahorros', 
                'Inversiones'
            ],
            datasets: [{
            
            data: [
                {{money.percentage_spend}}, 
                {{money.percentage_saved}}, 
                {{money.percentage_invested}}
            ],
            backgroundColor: [
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 205, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
            ],
            borderColor: [
                'rgba(255, 159, 64, 1)',
                'rgba(255, 205, 86, 1)',
                'rgba(75, 192, 192, 1)',
            ],
            borderWidth: 1
            }]
        },
        options: {
            maintainAspectRatio: false,
            scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                    // stepSize: 50
                }
            }]
            },
        
            title: {
                display: false
            },
                    
            
            legend: {
            display: false
        },
        tooltips: {
            callbacks: {
                label: function(tooltipItem) {
                        return tooltipItem.yLabel;
                }
            }
        }
        }
    });
</script>
{% endwith %}
{% endblock content %}
