{% load static %}
<!-- <script src="https://cdn.jsdelivr.net/npm/chartjs-gauge@0.3.0/dist/chartjs-gauge.min.js"></script>
{% include "empresas/company_parts/valuations/price_valuations.html" %} -->
<div class="row" hx-trigger="load" 
    hx-get="{% url 'screener:get_company_valuation' the_company.ticker %}" hx-target="this">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Valor de empresa
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div class="spinner-border" role="status"></div>
                    Cargando...
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                Múltiplos de valoración
            </div>
            <div class="card-body">
                <div class="text-center">
                    <div class="spinner-border" role="status"></div>
                    Cargando...
                </div>
            </div>
        </div>        
    </div>  
</div>