{% extends "cartera/private/base.html" %}
{% load static i18n extra %}
{% block header %}
{% include "cartera/header/cartera/main.html" %}
{% endblock header%}

{% block content %}
{% with patrimonio.balance_sheet as money %}
<style>
    .chart-canvas{height: 450px !important;}
</style>
<div class="row">
    <div class="col-12">
    </div>
    {% for segment in money.segmentation %}
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="chart-canvas">
                <canvas id="doughnut-{{forloop.counter}}"></canvas>
            </div>
        </div>
    </div>
    {{segment.options.title|safe}}
    <script>
        let content{{forloop.counter}} = {{segment|safe}}
        content{{forloop.counter}}['options']['responsive'] = true
        content{{forloop.counter}}['options']['maintainAspectRatio'] = false
        new Chart(document.querySelector('#doughnut-{{forloop.counter}}'), content{{forloop.counter}});
    </script>
    {% endfor %}
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <!-- Title -->
                <h5 class="h3 mb-0">Empresas</h5>
            </div>
            <div hx-trigger="load" hx-get="{% url 'cartera:return_balance_table' %}" hx-target="this">
                <div class="text-center">
                    <div class="spinner-border" role="status">
                    </div>
                    Cargando...
                </div>
            </div>
        </div>
    </div>
</div>
{% endwith %}
{% endblock content %}
