{% extends "general/bases/main_base.html" %}
{% load static %}
{% load extra %}
{% block header %}
{% include "cartera/header/private.html" %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" 
integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.0/chartjs-plugin-zoom.min.js" 
integrity="sha512-TT0wAMqqtjXVzpc48sI0G84rBP+oTkBZPgeRYIOVRGUdwJsyS3WPipsNh///ay2LJ+onCM23tipnz6EvEy2/UA==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'general/assets/js/screener.js' %}"></script>
{% endblock header%}

{% block content %}
<script>
    getFromUrl('/get/user/cartera')
</script>
<div class="row">
    {% block FirstCta %}
    <div class="col-12">
        {% block FirstCtaContent %}
        {% endblock FirstCtaContent %}
    </div>
    {% endblock FirstCta %}

    {% block FirstContent %}
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="h3 mb-0">Patrimonio</h5>
             </div>
          <div class="card-body">
            <div class="chart-canvas">
                <canvas id="Ingresos"></canvas>
            </div>            
          </div>                                                
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h5 class="h3 mb-0">Patrimonio</h5>
             </div>
            <div class="text-center">
                <div class="spinner-border" id="rev-incomeLoader" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="card-body">
                  <div class="chart-canvas">
                      <canvas id="rev-incomeChart"></canvas>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-sm-12">
        <div class="card">
            <div class="card-header">
                <!-- Title -->
                <h5 class="h3 mb-0">Cashflow</h5>
             </div>
            <div class="table-responsive ">
                <table class="table table-borderless">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Canditad</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in money.incomes_and_spends %}
                        <tr>
                            <td>{{data.name}}</td>
                            <td>{{data.amount|floatformat:2}} {{data.currency}}</td>
                            <td>{{data.date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>                                     
        </div>
    </div>
    {% endblock FirstContent%}

    {% block ListContent %}
    <div class="col-lg-9 col-sm-12">
        {% block LeftSide %}
        {% endblock LeftSide %}
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="position-sticky" style="top: 6rem;">
            {% block RightSide %}
            {% endblock RightSide %}
        </div>
    </div>
    {% endblock ListContent%}

    {% block MiddleCta %}
    <div class="col-12">
        {% block MiddleCtaContent %}
        {% endblock MiddleCtaContent %}
    </div>
    {% endblock MiddleCta%}

    {% block ListContinuation %}
    {% endblock ListContinuation %}

    {% block LastCta %}
    {% endblock LastCta %}
</div>
{% endblock content %}