{% extends "cartera/cartera_base.html" %}
{% load static %}
{% load extra %}

    {% block FirstCta %}
    <div class="col-12">
        {% block FirstCtaContent %}
        {% endblock FirstCtaContent %}
    </div>
    {% endblock FirstCta %}

    {% block FirstContent %}
    <div class="col-lg-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <h5 class="h3 mb-0">Patrimonio</h5>
             </div>
          <div class="card-body">
            <div class="chart-canvas">
                <canvas id="Ingresos"></canvas>
            </div>            
          </div>                                                
        </div>
    </div>
    <div class="col-lg-6 mb-3">
        <div class="card">
            <div class="card-header">
                <h5 class="h3 mb-0">Patrimonio</h5>
             </div>
            <div class="text-center">
                <div class="spinner-border" id="rev-incomeLoader" style="width: 3rem; height: 3rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
            <div class="card-body">
                  <div class="chart-canvas">
                      <canvas id="rev-incomeChart"></canvas>
                  </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 col-sm-12">
        <div class="card">
            <div class="card-header">
                <!-- Title -->
                <h5 class="h3 mb-0">Cashflow</h5>
             </div>
            <div class="table-responsive ">
                <table class="table table-borderless">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Canditad</th>
                            <th scope="col">Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in money.incomes_and_spends %}
                        <tr>
                            <td>{{data.name}}</td>
                            <td>{{data.amount|floatformat:2}} {{data.currency}}</td>
                            <td>{{data.date}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>                                     
        </div>
    </div>
    {% endblock FirstContent%}

    {% block ListContent %}
    <div class="col-lg-9 col-sm-12">
        {% block LeftSide %}
        {% endblock LeftSide %}
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="position-sticky" style="top: 6rem;">
            {% block RightSide %}
            {% endblock RightSide %}
        </div>
    </div>
    {% endblock ListContent%}

    {% block MiddleCta %}
    <div class="col-12">
        {% block MiddleCtaContent %}
        {% endblock MiddleCtaContent %}
    </div>
    {% endblock MiddleCta%}

    {% block ListContinuation %}
    {% endblock ListContinuation %}

    {% block LastCta %}
    {% endblock LastCta %}
</div>
{% block jsCharts %}
<script>
    createSoloChart(
        income.revenueVSnetIncome, 
        'Ingresos vs ', 
        $('#rev-incomeChart')[0], 
        $('#rev-incomeLoader')[0], 
        'bar',
        false,
        true,
        true
    )
    
    var ctx = document.getElementById('Ingresos').getContext('2d');
    var Ingresos = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Ingresos', 'Gastos', 'Ahorros', 'Invertido'],
            datasets: [{
                
                data: [ {{money.income_earned}}, 
                {{money.income_spend}}, 
                {{money.income_saved}}, 
                {{money.income_invested}}],

                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
          plugins:{
   legend: {
    display: false
   }
  },
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            responsive: true,
            maintainAspectRatio: false
        }
    });
</script>
{% endblock jsCharts %}
