{% extends "general/bases/base_content.html" %}
{% load static i18n extra %}
{% block header %}{% include "screener/headers/screeners.html" %}{% endblock header%}
{% block FirstCta %}
{% endblock FirstCta %}

{% block FirstContent %}
<div class="col-12">
    <div class="p-4 p-md-5 mb-4 text-white card bg-gradient-success">
        <div class="row">
            <h1 class="display-4 text-white fst-italic">¿Ya sabes qué empresa buscas?</h1>
            <div class="text-center">
                {% include "general/search/search-companies.html" %}
            </div>
        </div>
    </div>
</div>
{% endblock FirstContent%}

{% block ListContent %}
{% for screener in screeners %}
<div class="row">
    <div class="card-translucent bg-transparent">
        <div class="card-body p-3">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex flex-column h-100">
                        <a href="{{screener.get_absolute_url}}">
                            <p class="h1 mb-1 pt-2 text-bold">
                                {{screener.name}}
                            </p>
                        </a>
                        
                        <div class="d-flex">
                            <a href="#" class="badge badge-info text-center mr-2">
                                <span class="font-weight-bolder">
                                    {{screener.asset_class_related}}
                                </span>
                            </a>
                        </div>
                        
                        <div class="mb-2 mt-2">
                            <a href="{{screener.get_absolute_url}}">
                                {{screener.description}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock ListContent %}