{% load static i18n extra %}
<div class="row align-items-center py-4">
  <div class="col-lg-6 col-7">
     <h6 class="h2 d-inline-block mb-0 mr-5">Todos los términos financieros que necesitas conocer</h6>
    <!--<a href="#" class="btn btn-sm btn-neutral">Nuevas</a>
    <a href="#" class="btn btn-sm btn-neutral">Sin responder</a>
    <a href="#" class="btn btn-sm btn-neutral">Más visitadas</a>             -->
  </div>
  <div class="col-lg-6 col-5 text-right">
    <a href="{% url 'preguntas_respuestas:create_question' %}" class="btn btn-md btn-warning">Preguntar</a>
  </div>
</div>
<!-- Card stats -->
<div class="row">
  <div class="col-xl-3 col-md-6">
    
  </div>
  <div class="col-xl-3 col-md-6">
    
  </div>
  <div class="col-xl-3 col-md-6">
    
  </div>
  <div class="col-xl-3 col-md-6">
    
  </div>
</div>