{% extends "bases/shared_source.html" %}
{% block meta %}{% include "meta/meta.html" %}{% endblock meta %}
{% block css %}{% include "complements/web_intro_styling.html" %}{% endblock css %}


{% block MasterBody %}
{% block navbar %}{% include "complements/web_intro_navbar.html" %}{% endblock navbar%}
{% block content %}{% endblock content%}
{% block modal %}{% endblock modal %}
{% block footer %}{% include "complements/footer.html" %}{% endblock footer %}
<!-- {% block inline_javascript %}    
<script>
window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
</script>
{% endblock inline_javascript %} -->
{% block javascript %}{% include "complements/web_intro_scripts.html" %}{% endblock javascript %}
{% endblock MasterBody %}