{% extends "general/bases/base_content.html" %}
{% load static i18n extra %}
{% block header %}{% include "business/headers/details.html" %}{% endblock header%}

{% block OnTopContent %}
{% endblock OnTopContent%}

{% block FirstCta %}
<div class="col-12">
    {% block FirstCtaContent %}
    {% endblock FirstCtaContent %}
</div>
{% endblock FirstCta %}

{% block FirstContent %}
{% endblock FirstContent%}


{% block LeftSide %}
{% for product in products %}
    <div class="card-translucent bg-transparent">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex flex-column h-100">
                        <a href="{{product.get_absolute_url}}{% utm 'products' 'inicio' product.title %}">
                            <p class="h1 mb-1 pt-2 text-bold">
                                {{product.title}}
                            </p>
                        </a>
                        <div class="d-flex">
                            <spanclass="badge badge-info text-center mr-2">
                                <span class="font-weight-bolder" style="font-size: 10px">Última actualización: {{product.updated_at|date:"d.m.y"}}</span>
                            </span>
                        </div>          
                        <div class="mb-2 mt-2">
                            {{product.description}}
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr style="margin-top: 0em;">
{% endfor %}
{% endblock LeftSide %}

{% block RightSide %}
{% endblock RightSide %}


{% block MiddleCta %}
<div class="col-12">
    {% block MiddleCtaContent %}
    {% endblock MiddleCtaContent %}
</div>
{% endblock MiddleCta%}

{% block ListContinuation %}
{% endblock ListContinuation %}

{% block LastCta %}
{% endblock LastCta %}