{% load static i18n extra %}
<div class="modal fade" id="RepExplanationModal" tabindex="-1" role="dialog" aria-labelledby="RepExplanationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-success modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-success">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Reputación</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>La reputación muestra tu notoriedad entre la comunidad de inversores. Como mayor sea tu reputación más privilegios tendrás.
                    <br>
                    Puedes conseguir reputación:                    
                    <ul>
                        <li>Aportando respuestas</li>
                        <li>Haciendo preguntas</li>
                        <li>Colaborando en el glosario</li>
                        <li>Contribuyendo en las empresas</li>
                    </ul>
                </p>
                <div class="col-12">
                    <a class="btn btn-youtube" href="{% url 'preguntas_respuestas:list_questions' %}" >Preguntas</a>
                    <a class="btn btn-slack" href="{% url 'escritos:glosario' %}" >Glosario</a>
                    <a class="btn btn-danger" href="{% url 'screener:screener_inicio' %}" >Empresas</a>
                </div>
            </div>
        </div>
    </div>
</div>

