{% extends "general/bases/base_content.html" %}
{% load static %}
{% block header %}
{% include "roboadvisor/header/details.html" %}
{% endblock header%}

{% block FirstCtaContent %}
{% include "roboadvisor/complements/details.html" %}
{% endblock FirstCtaContent %}

{% block FirstContent %}
<!-- {% include "public_blog/complements/first_content.html" %} -->
{% endblock FirstContent%}

{% block ListContent %}
{% endblock ListContent %}

{% block MiddleCtaContent %}
{% include "public_blog/cta/inicio_middle.html" %}
{% endblock MiddleCtaContent %}
