{% extends "general/bases/base_content.html" %}
{% load static %}
{% block header %}
{% include "roboadvisor/header/details.html" %}
<script src="https://unpkg.com/htmx.org@1.7.0" 
    integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" 
    crossorigin="anonymous" defer></script>
{% endblock header%}

{% block FirstCtaContent %}
{% include "roboadvisor/complements/details.html" %}
{% endblock FirstCtaContent %}

{% block FirstContent %}
<!-- {% include "public_blog/complements/first_content.html" %} -->
{% endblock FirstContent%}

{% block ListContent %}

{% with steps=service.steps.all %}
{% with total_steps=steps|length %}

{% for step in steps %}
    {% with current_step=forloop.counter %}

    <div class="card"
        style="position: absolute; display:{% if not forloop.first %}none{% else %}inline{% endif %};"
        id="part-{{current_step}}">
        <div class="card-header">
            {{ step.title }}
        </div>
        <div class="card-body">
            <div class="card-text">
                {{ step.description }}
            </div>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="card-text">
                    {% include step.template_path %}
                </div>
            </div>
            <div class="card-footer">
                <div class="clearfix">
                    <div class="float-start">
                        {% if not forloop.first %}
                        <button class="btn btn-primary btn-sm" onclick="ShowPrevStep({{current_step}})">Anterior</button>
                        {% endif %}
                    </div>
                    <div class="float-end">                        
                        <button class="btn btn-primary btn-sm" type="submit" hx-post="{% url step.url %}"
                            {% if forloop.last %}
                                onclick="FinalizeTest()">
                                Finalizar                        
                            {% else %}
                            onclick="ShowNextStep({{current_step}})">
                                Siguiente                            
                            {% endif %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    {% endwith %}
{% endfor %}

{% endwith %}
{% endwith %}

{% endblock ListContent %}

{% block MiddleCtaContent %}
<!-- {% include "public_blog/cta/inicio_middle.html" %} -->
{% endblock MiddleCtaContent %}

{% block javascript %}
    {{ block.super }}

    <script>
        function FinalizeTest(){
            window.location.replace("http://www.w3schools.com");
        }
        function ShowStep(stepsDict){
            var currentCard = document.getElementById("part-" + stepsDict.current.toString());
            var selCard = document.getElementById("part-" + stepsDict.sel.toString());
            currentCard.style.display = "none";
            selCard.style.display = "inline";
        }
        function ShowPrevStep(step){
            var selStep = step - 1
            var stepsDict = {
                'current':step,
                'sel':selStep
            }
            return ShowStep(stepsDict)
        }
        function ShowNextStep(step){
            var selStep = step + 1
            var stepsDict = {
                'current':step,
                'sel':selStep
            }
            return ShowStep(stepsDict)
        }
    </script>
{% endblock %}
<form method="POST" action=".">
    {% csrf_token %}
    <input class="btn" type="submit" value="Submit" name="ok">
</form>