{% extends "general/bases/base_content.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block header %}{% include "public_blog/header/managle_blogs.html" %}{% endblock header%}

{% block FirstCta %}
<div class="col-12">
    {% block FirstCtaContent %}
    {% endblock FirstCtaContent %}
</div>
{% endblock FirstCta %}

{% block FirstContent %}
{% for blog in blogs %}
<div class="col-6 col-sm-12">
    <div class="card">
        <!-- Card body -->
        <div class="card-body">
           <div class="row align-items-center">
              <div class="col-auto">
                 <!-- Avatar -->
                 <a href="{% url 'public_blog:blog_details' blog.slug %}" class="avatar avatar-xl rounded">
                 <img alt="blog" src="{{blog.image}}">
                 </a>
              </div>
              <div class="col ml--2">
                 <h4 class="mb-0">
                    <a href="{% url 'public_blog:blog_details' blog.slug %}" >{{blog.title}}</a>
                 </h4>
                 <p class="text-sm text-muted mb-0">{{blouncatewords:"25"}</p>
              </div>
              <div class="col-auto">
                 <!-- <button type="button" class="btn btn-sm btn-success mb-1">Añadir favoritos</button>
                 <br> -->
                 <a href="{% url 'public_blog:create_newsletter_blog' blog.slug %}" class="btn btn-sm btn-primary mb-1">Newsletter</a>
                 <br>
                 <a href="{% url 'public_blog:blog_details' blog.slug %}" type="button" class="btn btn-sm btn-primary">Visitar</a>
                 
              </div>
           </div>
        </div>
     </div>
</div>
{% endfor %}
{% endblock FirstContent%}

{% block ListContent %}
<div class="col-lg-9 col-sm-12">
    {% block LeftSide %}
    {% endblock LeftSide %}
</div>
<div class="col-lg-3 col-sm-12">
    <div class="position-sticky" style="top: 6rem;">
        {% block RightSide %}
        {% endblock RightSide %}
    </div>
</div>
{% endblock ListContent%}

{% block MiddleCta %}
<div class="col-12">
    {% block MiddleCtaContent %}
    {% endblock MiddleCtaContent %}
</div>
{% endblock MiddleCta%}

{% block ListContinuation %}
{% endblock ListContinuation %}

{% block LastCta %}
{% endblock LastCta %}


{% block modal %}
{{block.super}}
<div class="modal fade" id="DefaultOptions" tabindex="-1" role="dialog" aria-labelledby="DefaultOptionsLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg modal-dialog-centered modal-fullscreen-md-down" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h6 class="modal-title" id="modal-title-notification">Prepara tus newsletters</h6>
               <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">×</span>
               </button>
           </div>
           <div class="modal-body">
            <form action="" method="post">
           
               <div class="row">
                  <div class="col-12">
                   
                  </div>
                  <div class="col-12 mt-2">
                
                  </div>
                  <div class="col-12 mt-2">
                   
                  </div>
                  <div class="col-12 mt-2">
                     <button class="btn btn-primary col-12">Guardar</button>
                  </div>
               </div>
            </form>
           </div>
       </div>
   </div>
</div>
{% endblock modal %}
