{% extends "bases/base_content.html" %}
{% load static extra %}

{% block TopHeader %}
{% include "headers/empresa_header.html" %}
{% endblock TopHeader%}
{% block MainContent %}
{% with the_company_financials=complete_info %}
<script>let hasBought = {% if has_bought %} true {% else %} false {% endif %}</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js" 
integrity="sha512-UXumZrZNiOwnTcZSHLOfcTs0aos2MzBWHXOHOuB0J/R44QB0dwY5JgfbvljXcklVf65Gc4El6RjZ+lnwd2az2g==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-zoom/1.2.0/chartjs-plugin-zoom.min.js" 
integrity="sha512-TT0wAMqqtjXVzpc48sI0G84rBP+oTkBZPgeRYIOVRGUdwJsyS3WPipsNh///ay2LJ+onCM23tipnz6EvEy2/UA==" 
crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="{% static 'general/assets/js/screener.js' %}"></script>

<style>
.fixedTable th:first-child, td:first-child{
  position:sticky;
  left:0px;
  background-color:#fff;
}
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(121, 121, 121);
  border-radius: 10px;
}
.chart-canvas{height: 600px !important;}
</style>
<div class="col-12">
    <div class="tab-content" id="pills-tabContent">
      <!-- resume tab -->
      <div class="tab-pane fade show active" id="pills-resume" role="tabpanel" aria-labelledby="pills-resume-tab">
        {% include "empresas/company_parts/resume/response.html" %}
      </div>
      <!-- First tab -->
      <div class="tab-pane fade" id="pills-income" role="tabpanel" aria-labelledby="pills-income-tab"> 
        {% include "empresas/company_parts/income_statement/income_statement.html" %}
      </div>
      <!-- Second tab -->
      <div class="tab-pane fade" id="pills-balancesh" role="tabpanel" aria-labelledby="pills-balancesh-tab">
        {% include "empresas/company_parts/balance_sheet/balance_sheet.html" %}
      </div>
      <!-- Third tab -->
      <div class="tab-pane fade" id="pills-cashflow" role="tabpanel" aria-labelledby="pills-cashflow-tab">
        {% include "empresas/company_parts/cashflow_statement/cashflow_statement.html" %}
      </div>
      <!-- ratios tab -->
      <div class="tab-pane fade" id="pills-ratios" role="tabpanel" aria-labelledby="pills-ratios-tab">
          {% include "empresas/company_parts/ratios/ratios.html" %}
      </div>
      <!-- other ratios tab -->
      <div class="tab-pane fade" id="pills-othervaluations" role="tabpanel" aria-labelledby="pills-othervaluations-tab">            
        {% include "empresas/company_parts/ratios/other_ratios.html" %}
      </div>
      <!-- foda tab -->
      <div class="tab-pane fade" id="pills-foda" role="tabpanel" aria-labelledby="pills-foda-tab">             
      {% include "empresas/company_parts/foda/foda.html" %}
      </div>
        <!-- valuations tab -->
      <div class="tab-pane fade" id="pills-valuations" role="tabpanel" aria-labelledby="pills-valuations-tab">             
          {% include "empresas/company_parts/valuations/valuations.html" %}
      </div>  
      <!-- predictions tab -->
      <div class="tab-pane fade" id="pills-predictions" role="tabpanel" aria-labelledby="pills-predictions-tab">    
        {% include "empresas/company_parts/predictions/predictions.html" %}
      </div>               
      <!-- superinvestors tab -->
      <div class="tab-pane fade" id="pills-superinvestors" role="tabpanel" aria-labelledby="pills-superinvestors-tab">
        {% include "empresas/company_parts/relationships/superinvestors_relateds.html" %}
      </div>
      
      <div class="tab-pane fade" id="pills-relations" role="tabpanel" aria-labelledby="pills-relations-tab">
        {% include "empresas/company_parts/relationships/wait-relations.html" %}
      </div>
    </div>
</div>
{% endwith %}
<div class="modal fade" id="NecesitasMembresiaModal" tabindex="-1" 
  role="dialog" aria-labelledby="NecesitasMembresiaModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-success modal-dialog-centered modal-xl" role="document">
      <div class="modal-content bg-gradient-success">
          <div class="modal-header">
              <h6 class="modal-title" id="modal-title-notification">Descubre toda la historia de la empresa</h6>
              <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
              </button>
          </div>
          {% if request.user.is_authenticated and request.user.user_profile.creditos >= 10 %}
          {% include "modals/buy-company-info.html" %}
          {% else %}
          <div class="modal-body">
            <p>
              <b>No tienes suficientes créditos.
                <br>
                Los créditos son monedas que puedes usar en la web para tener accesos privilegiados, puedes conseguir más créditos:                    
                <ul>
                    <li>Aportando respuestas</li>
                    <li>Haciendo preguntas</li>
                    <li>Colaborando en el glosario</li>
                    <li>Contribuyendo en las empresas</li>
                    <li>Adquiriendo créditos</li>
                </ul>
              </b>
            </p>
            <div class="col-12">
                <a class="btn btn-youtube" href="{% url 'preguntas_respuestas:list_questions' %}{% utm 'screener' the_company.ticker %}" >Preguntas</a>
                <a class="btn btn-slack" href="{% url 'escritos:glosario' %}{% utm 'screener' the_company.ticker %}" >Glosario</a>
                <a class="btn btn-danger" href="{% url 'screener:screener_inicio' %}{% utm 'screener' the_company.ticker %}" >Empresas</a>
                <a class="btn btn-danger" href="{% url 'business:all_products' %}{% utm 'screener' the_company.ticker %}" >Créditos</a>
            </div>
        </div>
          {% endif %}          
      </div>
  </div>
</div>
{% endblock MainContent %}
{% block javascript %}
{{ block.super }}
<script>
;(function () {
  const modal = new bootstrap.Modal(document.getElementById("CompanyObservationModal"))

  htmx.on("htmx:afterSwap", (e) => {
    // Response targeting #dialog => show the modal
    if (e.detail.target.id == "dialog") {
      modal.show()
    }
  })

  htmx.on("htmx:beforeSwap", (e) => {
    // Empty response targeting #dialog => hide the modal
    if (e.detail.target.id == "dialog" && !e.detail.xhr.response) {
      modal.hide()
      e.detail.shouldSwap = false
    }
  })

  // Remove dialog content after hiding
  htmx.on("hidden.bs.modal", () => {
    document.getElementById("dialog").innerHTML = ""
  })

})()

</script>
{% endblock javascript %}
