{% extends "bases/base_content.html" %}
{% load static extra humanize i18n %}
{% block header %}{% include "headers/inicio_header.html" %}{% endblock header%}

{% block FirstCta %}{% include "cta/empresa_inicio.html" %}{% endblock FirstCta %}

{% block FirstContent %}
{% for empresa in empresas %}
<div class="col-xl-4 col-lg-6 col-sm-12">
    <div class="card">
        <!-- Card body -->
        <div class="card-body">
           <div class="row align-items-center">
              <div class="col-auto">
                 <!-- Avatar -->
                 <a href="{% url 'screener:company' empresa.ticker %}{% utm 'market' empresa.ticker %}" class="avatar avatar-xl rounded-circle">
                 <img alt="{{empresa.ticker}}" src="{{empresa.image}}">
                 </a>
              </div>
              <div class="col ml--2">
                 <h4 class="mb-0">
                    <a href="{% url 'screener:company' empresa.ticker %}" >{{empresa.name}}</a>
                 </h4>
                 <p class="text-sm text-muted mb-0">{{empresa.description|truncatewords:"25"}}</p>
              </div>
              <div class="col-auto">
                 <button type="button" class="btn btn-sm btn-success mb-1" 
                     onclick="AddToFav('{{empresa.ticker}}', '{{empresa.id}}')" type="submit" id="button-favs-{{empresa.id}}">
                     <i class="fa fa-star" aria-hidden="true"></i>
                     Favoritos
                  </button>

                 <br>
                 <!-- <button type="button" class="btn btn-sm btn-primary mb-1">Añadir cartera</button>
                 <br> -->
                 <a href="{% url 'screener:company' empresa.ticker %}{% utm 'market' empresa.ticker %}" type="button" class="btn btn-sm btn-primary">
                  <i class="fa fa-eye" aria-hidden="true"></i>
                    Visitar
                  </a>
                 
              </div>
           </div>
        </div>
     </div>
</div>
{% endfor %}
 <nav aria-label="Page navigation">
   <ul class="pagination justify-content-center">
      {% if page_obj.has_previous %}
      <li class="page-item">
         <a class="page-link" href="?page=1">1</a>
      </li>
     <li class="page-item">
       <a href="?page={{ page_obj.previous_page_number }}" class="page-link">
         <span aria-hidden="true">&laquo;</span>
       </a>
     </li>
     {% endif %}
     {% if page_obj.number != 1 %}
     <li class="page-item">
      <a href="?page={{ page_obj.number|add:-1 }}" class="page-link">{{ page_obj.number|add:-1 }}</a>
    </li>
    {% endif %}
      <li class="page-item active" aria-current="page">
         <span class="page-link">{{ page_obj.number }}</span>
      </li>
      <li class="page-item">
         <a href="?page={{ page_obj.number|add:1 }}" class="page-link">{{ page_obj.number|add:1 }}</a>
       </li>
     {% if page_obj.has_next %}
     <li class="page-item">
       <a class="page-link" href="?page={{ page_obj.next_page_number }}">
         <span aria-hidden="true">&raquo;</span>
       </a>
     </li>
     <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último</a>
      </li>
     {% endif %}
   </ul>
 </nav>
 <script>
   const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
   
   function AddToFav(ticker, id){
 
     event.preventDefault(); // <---- Add this line
     $.ajax({
       url: '{% url "general:update_favorites" %}',
       type: "POST",
       dataType: "json",
       data: JSON.stringify({ticker: ticker,}),
       headers: {
       "X-Requested-With": "XMLHttpRequest",
       'X-CSRFToken': csrftoken,
       
     },
     success: (response) => {
         let buttonStock = document.getElementById("button-favs-"+id)
         if (response.is_favorite === true){
           buttonStock.className ='btn btn-sm btn-success mb-1'}
         else {
           buttonStock.className ='btn btn-sm btn-outline-success mb-1'}
           }
     });
   };
 </script>
{% endblock FirstContent%}