{% extends "general/bases/source.html" %}
{% load static i18n %}
{% block body %}
<!-- La sidebar se podría quitar para ciertas partes de la web. En tal caso habría que quitar también el icono cuando se ponga en movil -->
    {% block sidebar %}
    {% if request.user.is_authenticated %}
    {% include "general/sidebar/auth_sidebar.html" %}
    {% else %}
    {% include "general/sidebar/anonymous_sidebar.html" %}
    {% endif %}
    {% endblock sidebar%}
    <div class="main-content" id="panel">
        {% block navbar %}{% include "general/navbar/navbar.html" %}{% endblock navbar%}
        <div hx-trigger="load, showMessageSuccess from:body">
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block TopHeader %}
        <div class="header pb-6">
            <div class="container-fluid">
                <div class="header-body">
                {% block header %}{% endblock header%}
                </div>
            </div>
        </div>
        {% endblock TopHeader %}
        {% block MainContent %}
            <div class="container-fluid mt--6">
            {% block content %}{% endblock content %}
            </div>
        {% endblock MainContent %}
    </div>
{% endblock body%}