{% extends "general/bases/shared_source.html" %}
{% block meta %}{% include "general/meta/meta.html" %}{% endblock meta%}
{% block css %}{% include "general/complements/styling.html" %}{% endblock css%}

{% block MasterBody %}
{% block body %}{% endblock body%}
{% block modal %}
{% include "general/modals/become_writter.html" %}
{% include "general/modals/rep_explanation.html" %}
{% include "general/modals/credits_explanation.html" %}
{% include "general/modals/user_required.html" %}
{% include "general/modals/api_key.html" %}
{% endblock modal %}
{% block javascript %}{% include "general/complements/scripts.html" %}{% endblock javascript %}
{% block extra_javascript %}{% endblock extra_javascript %}
{% endblock MasterBody %}
