{% extends "bases/base_content.html" %}
{% load static i18n extra %}
{% block header %}{% include "header/inicio.html" %}{% endblock header%}

{% block FirstCtaContent %}
<div class="p-4 p-md-5 mb-4 text-white card bg-translucent-success">
    <div class="row">
        <div class="col-md-9 px-0">
            <h1 class="display-4 text-white fst-italic">
                Aprovecha la rebaja
                <br>
                <span style="text-decoration: line-through" class="font-weight-bold">$ 125 USD</span>
            </h1>
        </div>
    </div>
</div>
{% endblock FirstCtaContent %}

{% block ListContent %}
<div class="col-lg-4 col-sm-12">
    <div class="position-sticky" style="top: 6rem;">
        <div class="card mb-4" style="box-shadow: 0px 0px 10px 1px #aaaaaa;">
            <div class="card-body">
                <div style="text-align: center;">
                    <h2>$ 25 USD</h2>
                    <h4>Subscripción semestral</h4>
                </div>              
                <div style="text-align: center;">
                    <br>
                    <div>
                        <a href="https://buy.stripe.com/aEU9Ch7Wn4ROdK85km" class="btn btn-success btn-lg col-12" type="submit">Adquirir</a>
                    </div>
                </div>
              <br>      
                <h5>¿Qué incluye?</h5>
                  <p><i class="fas fa-infinity"></i> Acceso de por vida</p>
                  <p><i class="far fa-file-archive"></i> Actualizaciones constantes</p>
                  <p><i class="fas fa-book"></i> Ebooks de regalo</p>
            </div>
          </div>
    </div>
</div>
<div class="col-lg-8 col-sm-12">
    <div class="card">
        <video autoplay="True" width="100%" height="215" class="img-fluid" controls controlsList="nodownload" type="video/mp4" src="https://res.cloudinary.com/inversionesfinanzas/video/upload/v1642031295/excelnuevolowquality_pozh9j.mp4"></video>
        <div class="card-header">
            <h3>¿De qué me sirve?</h3>
          </div>
        <div class="card-body">
            <p>
                Con este excel tendrás más de 20 años de información financiera para tomar las mejores decisiones de inversión. 
                ¡Eso no es nuevo! Bueno, también tendrás todos los ratios de valuación, liquidez, solvencia, etc.. necesarios para conocer a la perfección las empresas en las que quieras invertir. 
                Claro, estos ratios van ligados con la información financiera así que tendrás los ratios de 20 a 30 años de la empresa. ¿Quiere más? También podrás conocer el valor intrínseco de la empresa. 
                De igual manera, tendrás todos los flujos de efectico (FCF) y las proyecciones futuras gracias para conocer su valor futuro gracias al DCF. Podrás también llevar al día tu cartera, personalizarla, 
                ver las ganancias y perdidas realizadas y no realizadas, además de poder ligarlo a tu perfil del Campus del Inversor Inteligente.
            </p>
        </div>
    </div>
</div>
<div class="col-12">
    <!-- Aquí comentarios -->
</div>
{% endblock ListContent %}

{% block MiddleCta %}
<div class="col-12">

</div>
{% endblock MiddleCta %}

