{% extends "complements/web_intro_base.html" %}
{% load static i18n extra %}
{% block content %}
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2775382,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
    <section class="section-header pb-7 pb-lg-11 bg-soft">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6 order-2 order-lg-1">
                <img src="{% static 'general/assets/img/general/hero-img.webp' %}" alt="home">
                </div>
                <div class="col-12 col-md-5 order-1 order-lg-2">
                      <h1 class="display-2 mb-3">De inversores para inversores</h1>
                      <p class="lead">Únete a la mejor comunidad de inversores y obtén acceso a todas las herramientas</p>
                      <div class="mt-4">
                        <form action="{% url 'account_signup' %}" method="post" class="d-flex flex-column mb-5 mb-lg-0">
                            {% csrf_token %}
                            <input class="form-control mb-3" type="text" name="username" placeholder="Nombre usuario" required>
                            {{ form.errors.username }}
                            <input class="form-control mb-3" type="email" name="email" placeholder="Email" required>
                            {{ form.errors.email }}
                            <input class="form-control mb-3" type="password" name="password1" placeholder="Contraseña" required>
                            {{ form.errors.password1 }}
                            <input class="form-control mb-3" type="password" name="password2" placeholder="Confirmar contraseña" required>
                            <button class="btn btn-primary" type="submit">Únete a la comunidad</button>
                            <div class="form-group form-check mt-3">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label form-check-sign-white" for="exampleCheck1">I agree to the <a href="#">Terms & Conditions</a></label>
                            </div>
                        </form>
                      </div>
                  </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>

    <section class="section section-lg">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-lg-7">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="h1 font-weight-bolder mb-4">Empieza a escribir y crea tu comunidad</h1>
                    <p class="lead">Empieza tu propia newsletter, comparte tus experiencias, historias o tesis de inversión con toda la comunidad de inversores</p>
                </div>
            </div>
            <div class="row mb-lg-5">
                <div class="col-12 col-lg-6">
                    <div class="customer-testimonial d-flex mb-5">
                        <img src="{{escritor1.user.user_profile.foto_perfil.url}}" class="image image-sm mr-3 rounded-circle shadow" alt="">
                        <div class="content bg-soft shadow-soft border border-light rounded position-relative p-4">
                            <div class="d-flex mb-4">
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                            </div>
                            <p class="mt-2">"{{escritor1.user.user_profile.bio}}"</p>
                            <span class="h6">- {{escritor1.user.full_name}} <small class="ml-0 ml-md-2">Escritos desponibles {{escritor1.number_of_blogs}}</small></span>
                        </div>
                    </div>
                    <div class="customer-testimonial d-flex mb-5">
                        <img src="{{escritor2.user.user_profile.foto_perfil.url}}" class="image image-sm mr-3 rounded-circle shadow" alt="">
                        <div class="content bg-soft shadow-soft border border-light rounded position-relative p-4">
                            <div class="d-flex mb-4">
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                            </div>
                            <p class="mt-2">"{{escritor2.user.user_profile.bio}}"</p>
                            <span class="h6">- {{escritor2.user.full_name}} <small class="ml-0 ml-md-2">Escritos desponibles {{escritor2.number_of_blogs}}</small></span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 pt-lg-6">
                    <div class="customer-testimonial d-flex mb-5">
                        <img src="{{escritor3.user.user_profile.foto_perfil.url}}" class="image image-sm mr-3 rounded-circle shadow" alt="">
                        <div class="content bg-soft shadow-soft border border-light rounded position-relative p-4">
                            <div class="d-flex mb-4">
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                                <span class="text-warning mr-2"><i class="star fas fa-star"></i></span>
                            </div>
                            <p class="mt-2">"{{escritor3.user.user_profile.bio}}"</p>
                            <span class="h6">- {{escritor3.user.full_name}} <small class="ml-0 ml-md-2">Escritos desponibles {{escritor3.number_of_blogs}}</small></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">
                    <a href="{% url 'escritos:glosario' %}" class="btn btn-primary animate-up-2"><span class="mr-2"><i class="fas fa-book-open"></i></span> Ver todos</a>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-lg bg-primary text-center text-white">
        <div class="container">
            <div class="row justify-content-center mb-4 mb-lg-6">
                <div class="col-12">
                    <h1 class="display-3 mb-4 mb-lg-5">Toda la información para invertir mejor</h1>
                    <div class="row text-white">
                        <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                            <div class="card-body text-center bg-primary border-right border-default py-4">
                                <!-- Heading -->
                                <h2 class="font-weight-bold">
                                    <span class="h1 mr-2">+30.000</span>
                                </h2>
                                <!-- Text -->
                                <span class="h5 font-weight-normal">activos diferentes</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 px-md-0 mb-4 mb-lg-0">
                            <div class="card-body text-center bg-primary border-right border-default py-4">
                                <!-- Heading -->
                                <h2 class="font-weight-bold">
                                    <span class="h1 mr-2">+138</span>
                                </h2>
                                <!-- Text -->
                                <span class="h5 font-weight-normal">parámetros para investigar</span>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 px-md-0">
                            <div class="card-body text-center bg-primary py-4">
                                <!-- Heading -->
                                <h2 class="font-weight-bold">
                                    <span class="h1 mr-2">+300</span>
                                </h2>
                                <!-- Text -->
                                <span class="h5 font-weight-normal">términos imprescindibles</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <form action="{% url 'general:searcher'%}" method="POST" id="searchSpace" class="form-group mb-4">
                        {% csrf_token %}
                        <div class="d-flex flex-row justify-content-center">
                            <div class="input-group ui-widgets">
                                <input id="buscador" name="term" class="form-control form-control-xl border-light" placeholder="Escribe el ticker, nombre, la palabra..." type="text">
                                <div class="input-group-prepend">
                                    <button type="submit" class="btn btn-invfin-gold rounded-right">Empezar a buscar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <span class="small">Acceso a activos de todo el mundo y la definición de los términos utilizados. Conoce el pasado, el presente y el futuro de las empresas gracias a los datos, noticias y las estimaciones disponibles o haz las tuyas propias.</span>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="section section-lg pt-6">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-md-7">
                <div class="col-12 col-md-8 text-center">
                    <h2 class="h1 font-weight-bolder mb-4">Meet our intuitive platform</h2>
                    <p class="lead">Self-Service Analytics or ad hoc reporting gives users the ability to develop rapid reports, empowering users to analyze their data.</p>
                </div>
            </div>
            <div class="row row-grid align-items-center mb-5 mb-md-7">
                <div class="col-12 col-md-5">
                    <h2 class="font-weight-bolder mb-4">Site Audit</h2>
                    <p class="lead">Site Audit crawls all the pages it finds on your website – then provides an overall SEO health score, visualises key data in charts, flags all possible SEO issues and provides recommendations on how to fix them.</p>
                    <p class="lead">Have a huge website? Not an issue.</p>
                    <a href="./about.html" class="btn btn-primary mt-3 animate-up-2">
                        Learn More
                        <span class="icon icon-xs ml-2">
                            <i class="fas fa-external-link-alt"></i>
                        </span>
                    </a>
                </div>
                <div class="col-12 col-md-6 ml-md-auto">
                    <img src="{% static 'general/assets/img/general/exchange.webp' %}" alt="">
                </div>
            </div>
            <div class="row row-grid align-items-center mb-5 mb-md-7">
                <div class="col-12 col-md-5 order-md-2">
                    <h2 class="font-weight-bolder mb-4">Rank Tracker</h2>
                    <p>We track your desktop and mobile keyword rankings from any location and plot your full ranking history on a handy graph.</p>
                    <p>You can set up automated ranking reports to be sent to your email address, so you’ll never forget to check your ranking progress.</p>
                    <a href="{% url 'web:inicio' %}" class="btn btn-primary mt-3 animate-up-2">
                        Rank Tracker Tool
                        <span class="icon icon-xs ml-2">
                            <i class="fas fa-external-link-alt"></i>
                        </span>
                    </a>
                </div> 
                <div class="col-12 col-md-6 mr-lg-auto">
                    <img src="{% static 'general/assets/img/general/why-us.webp' %}" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card border-light p-4">
                        <div class="card-body">
                            <h2 class="display-2 mb-2">98%</h2>
                            <span>Average satisfaction rating received in the past year</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card border-light p-4">
                        <div class="card-body">
                            <h2 class="display-2 mb-2">24/7</h2>
                            <span> Our support team is a quick chat or email away — 24 hours a day</span>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card border-light p-4">
                        <div class="card-body">
                            <h2 class="display-2 mb-2">220k+</h2>
                            <span>Extension installs from the two major mobile app stores</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <section class="section section-lg bg-soft">
        <div class="container">
            <div class="row justify-content-center mb-5 mb-md-7">
                <div class="col-12 col-md-8 text-center">
                    <h2 class="h1 font-weight-bolder mb-4">Todas las herramientas necesarias</h2>
                    <p class="lead">Herramientas tradicionales y vanguardistas para ayudarte a convertirte en un mejor inversor.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card shadow-soft border-light">
                        <div class="card-header p-0">
                            <img src="{% static 'general/assets/img/general/why-us.webp' %}" class="card-img-top rounded-top" alt="image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title mt-3">Comunidad</h3>
                            <p class="card-text">Una comunidad para aprender, preguntar y responder dudas.</p>
                            <ul class="list-group d-flex justify-content-center mb-4">
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Gana premios</div>    
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Ayuda a otros inversores</div>    
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Resuelve tus dudas</div> 
                                </li>
                            </ul>
                            <a href="{% url 'preguntas_respuestas:list_questions' %}" class="btn btn-primary">Descubrirlo</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card shadow-soft border-light">
                        <div class="card-header p-0">
                            <img src="https://res.cloudinary.com/inversionesfinanzas/image/upload/v1631288297/exlprod_kah97u.jpg" class="card-img-top rounded-top" alt="image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title mt-3">Excel</h3>
                            <p class="card-text">Un excel inteligente para analizar empresas y llevar al día tus inversiones.</p>
                            <ul class="list-group d-flex justify-content-center mb-4">
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>100% automatizado</div>    
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Actualizaciones constantes</div>    
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Disponible siempre</div> 
                                </li>
                            </ul>
                            <a href="{% url 'web:excel' %}" class="btn btn-primary">Obtenerlo</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5">
                    <div class="card shadow-soft border-light">
                        <div class="card-header p-0">
                            <img src="{% static 'general/assets/img/general/info-network.webp' %}" class="card-img-top rounded-top" alt="image">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title mt-3">Mucho más</h3>
                            <p class="card-text">Desde una biblioteca hasta un roboadvisor. Todo lo necesario para mejorar.</p>
                            <ul class="list-group d-flex justify-content-center mb-4">
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Portfolio inteligente</div>    
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Estimaciones</div>    
                                </li>
                                <li class="list-group-item d-flex pl-0 pb-1">
                                    <span class="mr-2"><i class="fas fa-check-circle text-success"></i></span>
                                    <div>Newsletters</div> 
                                </li>
                            </ul>
                            <a href="{% url 'account_signup' %}" class="btn btn-primary">Unirse</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    


    
    
    <!-- <section class="section section-lg pb-5 bg-soft">
<div class="container">
    <div class="row"> 
        <div class="col-12 text-center mb-5">
            <h2 class="mb-4">Faster growth starts with Impact</h2>
            <p class="lead mb-5">Join over <span class="font-weight-bolder">300,000+</span> users</p>
            <a href="#" class="icon icon-lg text-gray mr-3">
                <i class="fab fa-mailchimp"></i>
            </a>
            <a href="#" class="icon icon-lg text-gray mr-3">
                <i class="fab fa-cpanel"></i>
            </a>
            <a href="#" class="icon icon-lg text-gray mr-3">
                <i class="fab fa-dhl"></i>
            </a>
            <a href="#" class="icon icon-lg text-gray mr-3 ">
                <i class="fab fa-github-alt"></i>
            </a>
            <a href="#" class="icon icon-lg text-gray mr-3">
                <i class="fab fa-aws"></i>
            </a>
            <a href="#" class="icon icon-lg text-gray">
                <i class="fab fa-node"></i>
            </a>
        </div>
        <div class="col-12 text-center">
            
            <a href="../../dashboard/pages/dashboards/dashboard.html" class="btn btn-invfin-gold animate-up-2"><span class="mr-2"><i class="fas fa-hand-pointer"></i></span>Start 30-days trial</a>
        </div>
    </div> 
</div>    
</section> -->
<script>
    $(function() {
      $("#buscador").autocomplete({
        source: "{% url 'general:searcher_suggestions' %}",
        minLength: 3,
        appendTo: "#searchSpace"
      });
    });
  </script>
{% endblock content %}