{% extends "bases/base_forms.html" %}
{% load static i18n extra %}
{% load crispy_forms_tags %}
{% block FormContent %}
<div class="card">
        <form method="POST" action="{% url 'web:soporte' %}">
                {% csrf_token %}
                {% for field in form %}
                {% if field.errors %}
                <div class="alert alert-danger" role="alert">
                {{ field.errors|striptags }}
                </div>
                {% endif %}
                {% endfor %}
                <div class="card-body">
                <div class="row">
                        <div class="col-lg-6 col-sm-12">
                                {{ form.name|as_crispy_field}}
                        </div>
                        <div class="col-lg-6 col-sm-12">
                                {{ form.email|as_crispy_field}}
                        </div>
                        <div class="col-12">
                                {{ form.message|as_crispy_field}}
                        </div>
                        <div class="col-12">
                                <script src="https://www.google.com/recaptcha/api.js" async defer></script>
            <div name='g-recaptcha' class="g-recaptcha" data-sitekey="{{public_key}}"></div>
                        </div>
                        <div class="col-12">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                        </div>
                </div>
                </div>
        </form>
</div>


{% endblock FormContent %}

