{% load widget_tweaks %}
{% load static %}

{% render_field financial_situation_form.average_income class=fieldclass %}
{% render_field financial_situation_form.average_expense class=fieldclass %}
{% render_field financial_situation_form.debt class=fieldclass %}
{% render_field financial_situation_form.recurrent_savings class=fieldclass %}
{% render_field financial_situation_form.recurrent_debts class=fieldclass %}
{% render_field financial_situation_form.savings class=fieldclass %}
{% render_field financial_situation_form.debt_percentage class=fieldclass %}
{% render_field financial_situation_form.saving_percentage class=fieldclass %}
{% render_field financial_situation_form.number_sources_income class=fieldclass %}