{% load static %}


<label class="form-label">

</label>
<input class="form-step-{{step.order}}" name="horizon_time" type="text" value=""> 
<label class="form-label">

</label>
<input class="form-step-{{step.order}}" name="horizon_period" type="text" value=""> 
<label class="form-label">

</label>
<input class="form-step-{{step.order}}" name="comment" type="text" value=""> 


<label class="form-label">
    ¿Cuál es tu horizonte de inversión con esta empresa?
</label>
<input name="horizon_simple" type="range" class="form-step-{{step.order}} form-range" 
    min="0" max="100" step="1" onInput="$('#yearshorizon').html($(this).val())" required>
<span id="yearshorizon">50<!-- Default value --></span>
<br>
<label class="form-label mt-4">
    ¿Cuál es tu horizonte de inversión con esta empresa?
</label>
<textarea name="comment" class="form-step-{{step.order}} form-control"></textarea>

<input name="date_finish" class="form-step-{{step.order}} form-control" value='{% now "SHORT_DATETIME_FORMAT" %}' hidden>
