{% load widget_tweaks %}
{% load static %}


<div class="row mb-4">
    <label class="form-label">¿Cuál es tu periodo y horizonte de inversión?</label>
    <div class="col-md-4 mt-sm-4">        
        {% render_field form.horizon_time class=fieldclass %}
    </div>
    <div class="col-md-8 mt-sm-4">
        {% render_field form.horizon_period class=fieldclass %}
    </div>
    <div class="col-md-12 mt-4">
        <label class="form-label">Añade algún comentario respecto a tu horizonte de inversión</label>
        {% render_field form.comment class=fieldclass %}
    </div>
</div>
