{% load widget_tweaks %}
{% load static %}

{% render_field risk_aversion_form.volatilidad class=fieldclass %}
{% render_field risk_aversion_form.percentage_for_onefive class=fieldclass %}
{% render_field risk_aversion_form.percentage_for_three class=fieldclass %}
{% render_field risk_aversion_form.percentage_for_fourfive class=fieldclass %}
{% render_field risk_aversion_form.percentage_for_zerofive class=fieldclass %}
{% render_field risk_aversion_form.percentage_in_one_stock class=fieldclass %}
{% render_field risk_aversion_form.number_stocks class=fieldclass %}