{% extends "general/bases/base_content.html" %}
{% load static %}
{% block header %}{% include "screener/headers/inicio_header.html" %}{% endblock header%}

{% block FirstCta %}{% include "screener/cta/empresa_inicio.html" %}{% endblock FirstCta %}

{% block FirstContent %}
<script src="https://unpkg.com/htmx.org@1.7.0" 
    integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" 
    crossorigin="anonymous" defer></script>
{% for empresa in empresas %}
{% if forloop.last %}
<div class="col-lg-4 col-md-6 col-sm-12" 
   hx-get="{% url 'film-list' %}?page={{ page_obj.number|add:1 }}" 
   hx-trigger="revealed" 
   hx-swap="afterend" 
   hx-target="this">

{% else %} 
<div class="col-lg-4 col-md-6 col-sm-12">
{% endif %}
    <div class="card">
        <!-- Card body -->
        <div class="card-body">
           <div class="row align-items-center">
              <div class="col-auto">
                 <!-- Avatar -->
                 <a href="{% url 'screener:company' empresa.ticker %}" class="avatar avatar-xl rounded-circle">
                 <img alt="{{empresa.ticker}}" src="{{empresa.image}}">
                 </a>
              </div>
              <div class="col ml--2">
                 <h4 class="mb-0">
                    <a href="{% url 'screener:company' empresa.ticker %}" >{{empresa.name}}</a>
                 </h4>
                 <p class="text-sm text-muted mb-0">{{empresa.description|truncatewords:"25"}}</p>
              </div>
              <div class="col-auto">
                 <!-- <button type="button" class="btn btn-sm btn-success mb-1">Añadir favoritos</button>
                 <br> -->
                 <!-- <button type="button" class="btn btn-sm btn-primary mb-1">Añadir cartera</button>
                 <br> -->
                 <a href="{% url 'screener:company' empresa.ticker %}" type="button" class="btn btn-sm btn-primary">Visitar</a>
                 
              </div>
           </div>
        </div>
     </div>
</div>

{% endfor %}
{% endblock FirstContent%}