<div class="table-responsive ">
    <table class="table table-borderless">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Canditad</th>
                <th scope="col">Fecha</th>
            </tr>
        </thead>
        <tbody>
            {% for data in money.incomes_and_spends %}
            <tr>
                <td>{{data.name}}</td>
                <td>{{data.amount|floatformat:2}} {{data.currency}}</td>
                <td>{{data.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 