<div class="modal fade" id="RepExplanationModal" tabindex="-1" role="dialog" aria-labelledby="RepExplanationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-success modal-dialog-centered modal-" role="document">
        <div class="modal-content bg-gradient-success">
            <div class="modal-header">
                <h6 class="modal-title" id="modal-title-notification">Reputación</h6>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <button type="button" class="btn btn-facebook btn-icon">
                            <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
                            <span class="btn-inner--text">Facebook</span>
                        </button>
                    </div>
                    <div class="col-lg-6 col-sm-12">
                        <button type="button" class="btn btn-twitter btn-icon">
                            <span class="btn-inner--icon"><i class="fab fa-twitter"></i></span>
                            <span class="btn-inner--text">Twitter</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

