{% include "general/modals/become_writter.html" %}
{% include "general/modals/rep_explanation.html" %}
{% include "general/modals/credits_explanation.html" %}
{% include "general/modals/user_required.html" %}
{% include "general/modals/api_key.html" %}

<div class="modal fade" id="FinancialModal" tabindex="-1" role="dialog" aria-labelledby="FinancialModalLabel" aria-hidden="true">
    <div id="FinancialModalDialog" hx-target="this" class="modal-dialog modal-danger modal-lg modal-dialog-centered modal-" role="document">
    </div>
</div>