{% extends "bases/base_forms.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra %}
<link rel="stylesheet" href="{% static 'general/assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.css' %}" type="text/css">
<script src="{% static 'general/assets/vendor/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js' %}"></script>
{% endblock extra %}
{% block FormContent %}
<form method="POST">
    <div class="card">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
            {% if field.errors %}
            <div class="alert alert-danger" role="alert">
            {{ field.errors|striptags }}
            </div>
            {% endif %}
        {% endfor %}
        <div class="card-body">
            <div class="row">
                {{form.title|as_crispy_field}}
                {{form.resume|as_crispy_field}}                        
                {{form.content}}
                
                <div class="col-4">
                    {{form.status|as_crispy_field}}
                </div>
                <div class="col-4">
                    {{form.send_as_newsletter|as_crispy_field}}
                </div>
                <div class="col-4 mt-4">                    
                    <input name="tags" type="text" class="form-control"
                    value="{% for tag in tags %}{{tag}},{% endfor %}"
                    data-toggle="tags" required/>
                </div>
            </div>
            <div class="col-12 mt-4">
                <button class="btn btn-primary col-12" type="submit">Guardar</button>
            </div>
        </div>
    </div>
</form>
{% endblock FormContent %}
