{% extends "bases/base_content.html" %}
{% load static i18n extra %}
{% block TopHeader %}{% include "header/public.html" %}{% endblock TopHeader%}
{% block content %}
<div class="row">
    <div class="col-xl-4 order-xl-2">
      <div class="card card-profile">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <img src="{{current_profile.foto}}" class="rounded-circle">
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
          <div class="d-flex justify-content-between">
            <!-- <button data-bs-toggle="modal" data-bs-target="#modal-default" class="btn btn-sm btn-info  mr-4 ">Conectar</button>
            <button data-bs-toggle="modal" data-bs-target="#modal-default" class="btn btn-sm btn-success float-right">Compartir</button> -->
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">{{current_profile.number_of_questions}}</span>
                  <span class="description">Preguntas</span>
                </div>
                <div>
                  <span class="heading">{{current_profile.number_of_answers}}</span>
                  <span class="description">Respuestas</span>
                </div>
                <div>
                  <span class="heading">{{current_profile.number_of_accepted_answers}}</span>
                  <span class="description">Acceptadas</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h5 class="h3">
              {{current_profile.first_name}}<span class="font-weight-light">, {{current_profile.last_name}}</span>
            </h5>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>{{current_profile.user_profile.pais}}, {{current_profile.user_profile.ciudad}}
            </div>
            <div class="h5 mt-4">
              {{current_profile.user_profile.bio}}
            </div>
          </div>
        </div>
      </div>
      {% comment %}
      {% include "public/portfolio.html" %}
      {% endcomment %}
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="row">
        <div class="col-lg-6">
          <div class="card bg-gradient-info border-0">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Reputación</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">{{current_profile.user_profile.reputation_score}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                    <i class="fas fa-medal"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <!-- <span class="text-white mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap text-light">Since last month</span> -->
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card bg-gradient-danger border-0">
            <!-- Card body -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0 text-white">Contribuciones</h5>
                  <span class="h2 font-weight-bold mb-0 text-white">{{current_profile.number_of_contributions}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-white text-dark rounded-circle shadow">
                    <i class="fas fa-brain"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-sm">
                <!-- <span class="text-white mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                <span class="text-nowrap text-light">Since last month</span> -->
              </p>
            </div>
          </div>
        </div>
      </div>
      {% if current_profile.is_writter %}
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Escritos </h3>
            </div>
            <div class="col-4 text-right">
              <!-- <a href="#!" class="btn btn-sm btn-primary">Settings</a> -->
            </div>
          </div>
        </div>
        <div class="card-body">
          {% include "public/escritos.html" %}
        </div>
      </div>
      {% endif %}
      
      <div class="card">
        <div class="card-header">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Aportes </h3>
            </div>
            <div class="col-4 text-right">
              <div class="nav-wrapper">
                <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-icons-text" role="tablist">
                    <li class="nav-item">
                        <a  class="nav-link mb-sm-3 mb-md-0 active" 
                            id="tabs-preguntas-tab" data-bs-toggle="tab" 
                            href="#tabs-preguntas" role="tab" 
                            aria-controls="tabs-preguntas" aria-selected="true">
                          
                          Preguntas
                        </a>
                    </li>
                    <li class="nav-item">
                        <a  class="nav-link mb-sm-3 mb-md-0" 
                            id="tabs-respuestas-tab" data-bs-toggle="tab" 
                            href="#tabs-respuestas" role="tab" 
                            aria-controls="tabs-respuestas" aria-selected="false">
                          
                          Respuestas
                        </a>
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tabs-preguntas" role="tabpanel" aria-labelledby="tabs-preguntas-tab">
              {% include "public/preguntas.html" %}
            </div>
            <div class="tab-pane fade" id="tabs-respuestas" role="tabpanel" aria-labelledby="tabs-respuestas-tab">
              {% include "public/respuestas.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block modal %}{% endblock modal %}