{% load static i18n extra %}
<div class="row align-items-center py-4">
  <div class="col-lg-6 col-7">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
        <ol class="breadcrumb breadcrumb-links breadcrumb-light">
          <li class="breadcrumb-item">
            <a href="{% url 'screener:screener_inicio' %}{% utm 'screener' 'inicio' %}">
              <i class="fa-solid fa-square-poll-horizontal"></i>
            </a>
          </li>
          {% if screener %}
          <li class="breadcrumb-item">
            <a href="{% url 'screener:all_yahoo_screeners' %}{% utm 'all-screeners' 'inicio' %}">
              Todos los screeners
            </a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            {{screener.name}}
          </li>
          {% else %}
          <li class="breadcrumb-item active" aria-current="page">
            Todos los screeners
          </li>
          {% endif %}
        </ol>
    </nav>
  </div>
  <div class="col-lg-6 col-5 text-right">
   
  </div>
</div>
<!-- Card stats -->
<div class="row">
  <div class="col-xl-3 col-md-6">
    
  </div>
  <div class="col-xl-3 col-md-6">
    
  </div>
  <div class="col-xl-3 col-md-6">
    
  </div>
  <div class="col-xl-3 col-md-6">
    
  </div>
</div>