{% load static i18n extra %}
<div class="header pb-6 d-flex align-items-center" style="min-height: 500px; background-size: cover; background-position: center top;">
    <!-- Mask -->
    <span class="mask bg-gradient-success opacity-8"></span>
    <!-- Header container -->
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
        <div class="col-lg-12 col-md-12">
            <h1 class="display-2 text-black">{{current_profile}}</h1>
            <!-- {% if current_profile.is_writter %}
            <div class="input-group mb-3">
                {% csrf_token %}
                <input type="text" class="form-control" placeholder="Únete a la newsletter de {{current_profile}}" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-primary" type="button" id="button-addon2">Seguir</button>
                </div>
            </div>
            {% else %}            
            <p class="text-black mt-0 mb-5">This is your profile page. You can see the progress you've made with your work and manage your projects or assigned tasks</p>
            <a href="#!" class="btn btn-neutral">Edit profile</a>
            {% endif %} -->
        </div>
        </div>
    </div>
</div>