{% for writter in request.user.fav_writters %}
<li class="nav-item">
    <a href="{{writter.custom_url}}" class="nav-link">
      <span class="sidenav-mini-icon"> D </span>
      <span class="sidenav-normal">
         {{writter.full_name}}
      </span>
    </a>
  </li>
  {% empty %}
  <li class="nav-item">
      <a href="{% url 'public_blog:blog_list' %}" class="nav-link">
        <span class="sidenav-mini-icon"> D </span>
        <span class="sidenav-normal btn btn-primary btn-sm">
            Añade un escritor
         </span>
      </a>
    </li>
{% endfor %}